<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdom.iwcs.mapper.base.BaseMapBerthMapper">
    <resultMap id="BaseResultMap" type="com.wisdom.iwcs.domain.base.BaseMapBerth">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="map_code" jdbcType="VARCHAR" property="mapCode"/>
        <result column="ber_code" jdbcType="VARCHAR" property="berCode"/>
        <result column="coox" jdbcType="DECIMAL" property="coox"/>
        <result column="cooy" jdbcType="DECIMAL" property="cooy"/>
        <result column="valid_flag" jdbcType="INTEGER" property="validFlag"/>
        <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag"/>
        <result column="created_by" jdbcType="INTEGER" property="createdBy"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="last_modified_by" jdbcType="INTEGER" property="lastModifiedBy"/>
        <result column="last_modified_time" jdbcType="TIMESTAMP" property="lastModifiedTime"/>
        <result column="berth_type_value" jdbcType="VARCHAR" property="berthTypeValue"/>
        <result column="pod_code" jdbcType="VARCHAR" property="podCode"/>
        <result column="lock_source" jdbcType="VARCHAR" property="lockSource"/>
        <result column="in_lock" jdbcType="INTEGER" property="inLock"/>
        <result column="area_code" jdbcType="VARCHAR" property="areaCode"/>
        <result column="biz_type" jdbcType="VARCHAR" property="bizType"/>
        <result column="relation_piont_code" jdbcType="VARCHAR" property="relationPiontCode"/>
        <result column="point_alias" jdbcType="VARCHAR" property="pointAlias"/>
        <result column="ber_group" jdbcType="VARCHAR" property="berGroup"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
        <result column="operate_area_code" jdbcType="VARCHAR" property="operateAreaCode"/>
        <result column="biz_second_area_code" jdbcType="VARCHAR" property="bizSecondAreaCode"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        id, map_code, ber_code, coox, cooy, valid_flag, delete_flag, created_by, created_time,
        last_modified_by, last_modified_time,berth_type_value,pod_code,lock_source,in_lock,area_code,biz_type,relation_piont_code,point_alias,ber_group,version,operate_area_code,biz_second_area_code
    </sql>
    <update id="lockMapBerth">
        update base_map_berth
        <set>
            in_lock = 1,
            version = ifnull(version,0) + 1,
            <if test="lockSource != null and lockSource != ''">
                lock_source = #{lockSource},
            </if>
            <if test="podCode != null and podCode != ''">
                pod_code = #{podCode},
            </if>
        </set>
        where map_code = #{mapCode}
        and ber_code = #{berCode}
        <if test="version != null and version != ''">
            and version = #{version}
        </if>

    </update>
    <update id="unlockMapBerth">
        update base_map_berth
        set in_lock = 0,pod_code = '',lock_source = ''
        where map_code = #{mapCode} and ber_code = #{berCode}
    </update>

    <select id="selectPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from base_map_berth
        where 1=1
        <if test="searchKey != null and searchKey != ''">
            and 1=1
        </if>
        <if test="startTime != null">
            and created_time &gt;= #{startTime,jdbcType=BIGINT}
        </if>
        <if test="endTime != null">
            and created_time &lt;= #{endTime,jdbcType=BIGINT}
        </if>
        <if test="mapCode != null and mapCode != ''">
            and map_code = #{mapCode}
        </if>
        <if test="berCode != null and berCode != ''">
            and ber_code = #{berCode}
        </if>
        <if test="inLock != null">
            and in_lock = #{inLock}
        </if>
        <if test="lockSource != null and lockSource != ''">
            and lock_source = #{lockSource}
        </if>
        <if test="podCode != null and podCode != ''">
            and pod_code = #{podCode}
        </if>
        <if test="areaCode != null and areaCode != ''">
            and area_code = #{areaCode}
        </if>
        <if test="bizType != null and bizType != ''">
            and biz_type = #{bizType}
        </if>
        <if test="pointAlias != null and pointAlias != ''">
            and point_alias = #{pointAlias}
        </if>
        <if test="operateAreaCode != null and operateAreaCode != ''">
            and operate_area_code = #{operateAreaCode}
        </if>
        <if test="bizSecondAreaCode != null and bizSecondAreaCode != ''">
            and biz_second_area_code = #{bizSecondAreaCode}
        </if>
        order by last_modified_time desc
    </select>

    <select id="selectOneByBercode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from base_map_berth where ber_code = #{bercode,jdbcType=VARCHAR}
    </select>
    <select id="selectEmptyStorageOfInspectionArea" resultType="com.wisdom.iwcs.domain.base.BaseMapBerth" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from base_map_berth
        where 1=1
        and delete_flag = 0
        and (in_lock = 0 or in_lock is null )
        and (pod_code = '' or pod_code is null)
        and ber_group != ''
        and ber_group is not null
        and map_code = #{mapCode}
        <if test="bizType != null and bizType != ''">
            and biz_type = #{bizType}
        </if>
        <if test="berthTypeValue != null and berthTypeValue != ''">
            and berth_type_value = #{berthTypeValue}
        </if>
        <if test="bizSecondAreaCode != null and bizSecondAreaCode != ''">
            and biz_second_area_code = #{bizSecondAreaCode}
        </if>
        <if test="operateAreaCode != null and operateAreaCode != ''">
            and operate_area_code = #{operateAreaCode}
        </if>
    </select>
    <select id="selectEmptyStorage" resultType="com.wisdom.iwcs.domain.base.BaseMapBerth" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from base_map_berth
        where 1=1
        and (in_lock = 0 or in_lock is null )
        and delete_flag = 0
        and (pod_code = '' or pod_code is null)
        and map_code = #{mapCode}
        <if test="bizType != null and bizType != ''">
            and biz_type = #{bizType}
        </if>
        <if test="bizSecondAreaCode != null and bizSecondAreaCode != ''">
            and biz_second_area_code = #{bizSecondAreaCode}
        </if>
        <if test="operateAreaCode != null and operateAreaCode != ''">
            and operate_area_code = #{operateAreaCode}
        </if>
        <if test="berthTypeValue != null and berthTypeValue != ''">
            and berth_type_value = #{berthTypeValue}
        </if>
    </select>
    <select id="selectBerData" resultType="com.wisdom.iwcs.domain.base.BaseMapBerth" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from base_map_berth
        where 1=1
        and delete_flag = 0
        and map_code = #{mapCode}
        and ber_code = #{berCode}
    </select>
    <select id="selectByPointAlias" resultType="com.wisdom.iwcs.domain.base.BaseMapBerth" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from base_map_berth
        where 1=1
        and delete_flag = 0
        and point_alias = #{pointAlias,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByMapCode">
    DELETE FROM base_map_berth WHERE map_code = #{mapCode}
  </delete>
    <select id="selectAlltorageByMapCode" resultType="com.wisdom.iwcs.domain.base.BaseMapBerth">
        select
        <include refid="Base_Column_List"/>
        from base_map_berth where map_code = #{mapCode,jdbcType=VARCHAR}
    </select>

    <select id="selectBerthCodeByMapCode" resultMap="BaseResultMap">
       select <include refid="Base_Column_List"/> from base_map_berth WHERE map_code = #{mapCode}
    </select>

    <update id="updateList">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update base_map_berth
            <set>
                berth_type_value = #{item.berthTypeValue},last_modified_time = NOW()
            </set>
            where id = #{item.id}
        </foreach>
    </update>

    <delete id="deleteByBerCodeListAndMapCode">
        delete from base_map_berth where map_code = #{mapCode} and ber_code in
        <foreach collection="berCodeList" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>

    <update id="updateListByBerCode">
        update base_map_berth
        <set>
            <if test="bizType != null">
                biz_type = #{bizType},
            </if>
            <if test="pointAlias != null">
                point_alias = #{pointAlias},
            </if>
            <if test="operateAreaCode != null">
                operate_area_code = #{operateAreaCode},
            </if>
            <if test="bizSecondAreaCode != null">
                biz_second_area_code = #{bizSecondAreaCode},
            </if>
        </set>
        where ber_code in 
        <foreach collection="berCodeList" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>
</mapper>