<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdom.iwcs.mapper.base.BaseWaMapMapper">
    <resultMap id="BaseResultMap" type="com.wisdom.iwcs.domain.base.BaseWaMap">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="map_code" jdbcType="VARCHAR" property="mapCode"/>
        <result column="area_code" jdbcType="VARCHAR" property="areaCode"/>
        <result column="map_prop1" jdbcType="VARCHAR" property="mapProp1"/>
        <result column="map_prop2" jdbcType="VARCHAR" property="mapProp2"/>
        <result column="map_prop3" jdbcType="VARCHAR" property="mapProp3"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="valid_flag" jdbcType="INTEGER" property="validFlag"/>
        <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag"/>
        <result column="created_by" jdbcType="INTEGER" property="createdBy"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="last_modified_by" jdbcType="INTEGER" property="lastModifiedBy"/>
        <result column="last_modified_time" jdbcType="TIMESTAMP" property="lastModifiedTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        id, map_code, area_code, map_prop1, map_prop2, map_prop3, remark, valid_flag, delete_flag,
        created_by, created_time, last_modified_by, last_modified_time
    </sql>
    <select id="selectPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from base_wa_map
        where 1=1
        <if test="searchKey != null and searchKey != ''">
            and 1=1
        </if>
        <if test="startTime != null">
            and created_time &gt;= #{startTime,jdbcType=BIGINT}
        </if>
        <if test="endTime != null">
            and created_time &lt;= #{endTime,jdbcType=BIGINT}
        </if>
        order by last_modified_time desc
    </select>
    <select id="selectByMapCodeAndValidFlagAndDeleteFlag" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from base_wa_map
        where map_code = #{mapCode} and valid_flag = #{validFlag} and delete_flag = #{deleteFlag}
    </select>
    <select id="selectMapCodeByAreaCode" resultType="java.lang.String">
        select map_code from base_wa_map where area_code = #{areaCode} and  delete_flag = 0
    </select>
</mapper>