<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdom.iwcs.mapper.base.BaseBincodeDetailMapper">
    <resultMap id="BaseResultMap" type="com.wisdom.iwcs.domain.base.BaseBincodeDetail">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="bincode" jdbcType="VARCHAR" property="bincode"/>
        <result column="pod_code" jdbcType="VARCHAR" property="podCode"/>
        <result column="area_code" jdbcType="VARCHAR" property="areaCode"/>
        <result column="map_code" jdbcType="VARCHAR" property="mapCode"/>
        <result column="cargo_capacity_status" jdbcType="VARCHAR" property="cargoCapacityStatus"/>
        <result column="lock_stat" jdbcType="INTEGER" property="lockStat"/>
        <result column="valid_flag" jdbcType="INTEGER" property="validFlag"/>
        <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag"/>
        <result column="created_by" jdbcType="INTEGER" property="createdBy"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="last_modified_by" jdbcType="INTEGER" property="lastModifiedBy"/>
        <result column="last_modified_time" jdbcType="TIMESTAMP" property="lastModifiedTime"/>
        <result column="layer" jdbcType="INTEGER" property="layer"/>
        <result column="lock_source" jdbcType="VARCHAR" property="lockSource"/>
        <result column="vehicle_type" jdbcType="VARCHAR" property="vehicleType"/>
        <result column="vehicle_code" jdbcType="VARCHAR" property="vehicleCode"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        id, bincode, pod_code, area_code, map_code, cargo_capacity_status, lock_stat, valid_flag,
        delete_flag, created_by, created_time, last_modified_by, last_modified_time,layer, lock_source,
        vehicle_type, vehicle_code
    </sql>
    <select id="selectPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from base_bincode_detail
        where 1=1
        <if test="searchKey != null and searchKey != ''">
            and 1=1
        </if>
        <if test="startTime != null">
            and created_time &gt;= #{startTime,jdbcType=BIGINT}
        </if>
        <if test="endTime != null">
            and created_time &lt;= #{endTime,jdbcType=BIGINT}
        </if>
        order by last_modified_time desc
    </select>
    <update id="deleteLogicByPodCodes">
        UPDATE base_bincode_detail SET delete_flag = #{deleteFlag} WHERE pod_code IN
        <foreach collection="podCodes" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>

    <delete id="deleteByPodCodes" parameterType="java.util.List">
        DELETE FROM base_bincode_detail WHERE pod_code IN
        <foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>

    <select id="selectByBincodeAndValidFlagAndDeleteFlag" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from base_bincode_detail
        where bincode = #{bincode} and valid_flag = #{validFlag} and delete_flag = #{deleteFlag}
    </select>
    <select id="selectCountByPodCodeAndCargoCapacityStatus" resultType="java.lang.Integer">
    SELECT COUNT(1) FROM base_bincode_detail WHERE pod_code = #{podCode} and cargo_capacity_status = #{capacityStatus}
  </select>
    <select id="selectCountByPodCodeAndNotCargoCapacityStatus" resultType="java.lang.Integer">
    SELECT COUNT(1) FROM base_bincode_detail WHERE pod_code = #{podCode} and cargo_capacity_status != #{capacityStatus}
  </select>
    <update id="updatePodLockByPodCodesAndLockStat">
        UPDATE base_bincode_detail SET lock_stat = #{lockStat} WHERE pod_code IN
        <foreach collection="podCodes" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>
    <select id="selectByPodCodeAndValidFlagAndDeletedFlag" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from base_bincode_detail
        where pod_code = #{podCode} and valid_flag = #{validFlag} and delete_flag = #{deleteFlag}
    </select>
    <select id="selectCountByBinCodesAndNotCargoCapacityStatus" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM base_bincode_detail WHERE cargo_capacity_status != #{capacityStatus} AND bincode IN
        <foreach collection="bincodes" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <update id="updateAreaCodeByMapCode">
    UPDATE base_bincode_detail SET  area_code = #{areaCode} , last_modified_time = NOW()  WHERE map_code = #{mapCode}
  </update>

    <update id="updateValidStatusByPodCodes">
        UPDATE base_bincode_detail SET valid_flag = #{validStatus}, last_modified_time = NOW() WHERE pod_code IN
        <foreach collection="podCodes" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>

    <select id="selectBincodesByMapCodeIsNullAndNotValid" resultType="java.lang.String">
    SELECT bincode FROM base_bincode_detail WHERE map_code IS NULL and valid_flag = 1
  </select>

    <select id="selectCountByPodCodeAndCargoCapacityStatusAndLayer" resultType="java.lang.Integer">
    SELECT COUNT(1) FROM base_bincode_detail WHERE pod_code = #{podCode} and cargo_capacity_status = #{capacityStatus} and layer = #{layer}
  </select>
    <select id="selectCountByPodCodeAndNotCargoCapacityStatusAndLayer" resultType="java.lang.Integer">
    SELECT COUNT(1) FROM base_bincode_detail WHERE pod_code = #{podCode} and cargo_capacity_status != #{capacityStatus} and layer = #{layer}
  </select>
</mapper>