<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdom.iwcs.mapper.base.BaseMapBerthMapper">
    <resultMap id="BaseResultMap" type="com.wisdom.iwcs.domain.base.BaseMapBerth">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="map_code" jdbcType="VARCHAR" property="mapCode"/>
        <result column="ber_code" jdbcType="VARCHAR" property="berCode"/>
        <result column="coox" jdbcType="DECIMAL" property="coox"/>
        <result column="cooy" jdbcType="DECIMAL" property="cooy"/>
        <result column="valid_flag" jdbcType="INTEGER" property="validFlag"/>
        <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag"/>
        <result column="created_by" jdbcType="INTEGER" property="createdBy"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="last_modified_by" jdbcType="INTEGER" property="lastModifiedBy"/>
        <result column="last_modified_time" jdbcType="TIMESTAMP" property="lastModifiedTime"/>
        <result column="berth_type_value" jdbcType="VARCHAR" property="berthTypeValue"/>
        <result column="pod_code" jdbcType="VARCHAR" property="podCode"/>
        <result column="lock_source" jdbcType="VARCHAR" property="lockSource"/>
        <result column="in_lock" jdbcType="INTEGER" property="inLock"/>
        <result column="area_code" jdbcType="VARCHAR" property="areaCode"/>
        <result column="biz_type" jdbcType="VARCHAR" property="bizType"/>
        <result column="relation_piont_code" jdbcType="VARCHAR" property="relationPiontCode"/>
        <result column="point_alias" jdbcType="VARCHAR" property="pointAlias"/>
        <result column="ber_group" jdbcType="VARCHAR" property="berGroup"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
        <result column="operate_area_code" jdbcType="VARCHAR" property="operateAreaCode"/>
        <result column="biz_second_area_code" jdbcType="VARCHAR" property="bizSecondAreaCode"/>
        <result column="lock_source_time" jdbcType="TIMESTAMP" property="lockSourceTime"/>
        <result column="ber_row" jdbcType="VARCHAR" property="berRow"/>
        <result column="ber_column" jdbcType="VARCHAR" property="berColumn"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        id, map_code, ber_code, coox, cooy, valid_flag, delete_flag, created_by, created_time,
        last_modified_by, last_modified_time,berth_type_value,pod_code,lock_source,in_lock,area_code,biz_type,
        relation_piont_code,point_alias,ber_group,version,operate_area_code,biz_second_area_code,ber_row,ber_column
    </sql>
    <update id="lockMapBerth">
        update base_map_berth
        <set>
            in_lock = 1,
            version = ifnull(version,0) + 1,
            <if test="lockSource != null and lockSource != ''">
                lock_source = #{lockSource},
            </if>
            <if test="podCode != null and podCode != ''">
                pod_code = #{podCode},
            </if>
        </set>
        where map_code = #{mapCode}
        and ber_code = #{berCode}
        <if test="version != null">
            and version = #{version}
        </if>

    </update>
    <update id="lockMapBerthByBercode">
        update base_map_berth
        <set>
            in_lock = 1,
            version = ifnull(version,0) + 1,
            <if test="lockSource != null and lockSource != ''">
                lock_source = #{lockSource},
            </if>
            <if test="podCode != null and podCode != ''">
                pod_code = #{podCode},
            </if>
        </set>
        where ber_code = #{berCode}
        <if test="version != null">
            and version = #{version}
        </if>

    </update>
    <update id="unlockMapBerth">
        update base_map_berth
        set in_lock = 0,lock_source = ''
        where map_code = #{mapCode} and ber_code = #{berCode}
    </update>

    <select id="selectPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from base_map_berth
        where 1=1
        <if test="searchKey != null and searchKey != ''">
            and 1=1
        </if>
        <if test="startTime != null">
            and UNIX_TIMESTAMP(created_time) >= (#{startTime, jdbcType=BIGINT} / 1000) + 8 * 60 * 60
        </if>
        <if test="endTime != null">
            and UNIX_TIMESTAMP(created_time) &lt;= (#{endTime, jdbcType=BIGINT} / 1000) + 8 * 60 * 60
        </if>
        <if test="mapCode != null and mapCode != ''">
            and map_code = #{mapCode}
        </if>
        <if test="berCode != null and berCode != ''">
            and ber_code = #{berCode}
        </if>
        <if test="inLock != null">
            and in_lock = #{inLock}
        </if>
        <if test="lockSource != null and lockSource != ''">
            and lock_source = #{lockSource}
        </if>
        <if test="podCode != null and podCode != ''">
            and pod_code = #{podCode}
        </if>
        <if test="areaCode != null and areaCode != ''">
            and area_code = #{areaCode}
        </if>
        <if test="bizType != null and bizType != ''">
            and biz_type = #{bizType}
        </if>
        <if test="pointAlias != null and pointAlias != ''">
            and point_alias = #{pointAlias}
        </if>
        <if test="operateAreaCode != null and operateAreaCode != ''">
            and operate_area_code = #{operateAreaCode}
        </if>
        <if test="bizSecondAreaCode != null and bizSecondAreaCode != ''">
            and biz_second_area_code = #{bizSecondAreaCode}
        </if>
        <if test="berthTypeValue != null and berthTypeValue != ''">
            and berth_type_value = #{berthTypeValue}
        </if>
        order by last_modified_time desc
    </select>

    <select id="selectOneByBercode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from base_map_berth where ber_code = #{bercode,jdbcType=VARCHAR}
    </select>
    <select id="selectEmptyStorageOfInspectionArea" resultType="com.wisdom.iwcs.domain.base.BaseMapBerth" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from base_map_berth
        where 1=1
        and delete_flag = 0
        and (in_lock = 0 or in_lock is null )
        and (pod_code = '' or pod_code is null)
        and map_code = #{mapCode}
        <if test="bizType != null and bizType != ''">
            and biz_type = #{bizType}
        </if>
        <if test="berthTypeValue != null and berthTypeValue != ''">
            and berth_type_value = #{berthTypeValue}
        </if>
        <if test="bizSecondAreaCode != null and bizSecondAreaCode != ''">
            and biz_second_area_code = #{bizSecondAreaCode}
        </if>
        <if test="operateAreaCode != null and operateAreaCode != ''">
            and operate_area_code = #{operateAreaCode}
        </if>
    </select>
    <select id="selectEmptyStorageOfInspectionAreas" resultType="com.wisdom.iwcs.domain.base.BaseMapBerth" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from base_map_berth
        where 1=1
        and delete_flag = 0
        and (in_lock = 0 or in_lock is null )
        and (pod_code = '' or pod_code is null)
        and map_code = #{mapCode}
        <if test="bizType != null and bizType != ''">
            and biz_type != #{bizType}
        </if>
        <if test="berthTypeValue != null and berthTypeValue != ''">
            and berth_type_value = #{berthTypeValue}
        </if>
        <if test="bizSecondAreaCode != null and bizSecondAreaCode != ''">
            and biz_second_area_code = #{bizSecondAreaCode}
        </if>
        <if test="operateAreaCode != null and operateAreaCode != ''">
            and operate_area_code = #{operateAreaCode}
        </if>
    </select>
    <select id="selectNotEmptyStorageOfInspectionArea" resultType="com.wisdom.iwcs.domain.base.BaseMapBerth" resultMap="BaseResultMap">
        select bmb.id, bmb.map_code, bmb.ber_code, bmb.coox, bmb.cooy, bmb.valid_flag, bmb.delete_flag, bmb.created_by, bmb.created_time,
        bmb.last_modified_by, bmb.last_modified_time,bmb.berth_type_value,bmb.pod_code,bmb.lock_source,bmb.in_lock,bmb.area_code,
        bmb.biz_type,bmb.relation_piont_code,bmb.point_alias,bmb.ber_group,bmb.version,bmb.operate_area_code,bmb.biz_second_area_code
        from base_map_berth as bmb
        left join base_pod_detail as bpd on bmb.pod_code = bpd.pod_code
        where 1=1
        and bmb.in_lock = 0
        and bmb.delete_flag = 0
        and bmb.pod_code != ''
        and bmb.pod_code is not null
        and bpd.in_lock = 0
        <if test="mapCode != null and mapCode != ''">
            and bmb.map_code = #{mapCode}
        </if>
        <if test="bizType != null and bizType != ''">
            and bmb.biz_type = #{bizType}
        </if>
        <if test="bizSecondAreaCode != null and bizSecondAreaCode != ''">
            and bmb.biz_second_area_code = #{bizSecondAreaCode}
        </if>
        <if test="operateAreaCode != null and operateAreaCode != ''">
            and bmb.operate_area_code = #{operateAreaCode}
        </if>
        <if test="berthTypeValue != null and berthTypeValue != ''">
            and bmb.berth_type_value = #{berthTypeValue}
        </if>
    </select>

    <select id="selectEmptyStorage" resultType="com.wisdom.iwcs.domain.base.BaseMapBerth" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from base_map_berth
        where 1=1
        and (in_lock = 0 or in_lock is null )
        and delete_flag = 0
        and (pod_code = '' or pod_code is null)
        <if test="mapCode != null and mapCode != ''">
            and map_code = #{mapCode}
        </if>
        <if test="bizType != null and bizType != ''">
            and biz_type = #{bizType}
        </if>
        <if test="bizSecondAreaCode != null and bizSecondAreaCode != ''">
            and biz_second_area_code = #{bizSecondAreaCode}
        </if>
        <if test="operateAreaCode != null and operateAreaCode != ''">
            and operate_area_code = #{operateAreaCode}
        </if>
        <if test="berthTypeValue != null and berthTypeValue != ''">
            and berth_type_value = #{berthTypeValue}
        </if>

    </select>
    <select id="selectEmptyStorageAging" resultType="com.wisdom.iwcs.domain.base.BaseMapBerth" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from base_map_berth
        where 1=1
        and (in_lock = 0 or in_lock is null )
        and delete_flag = 0
        and (pod_code = '' or pod_code is null)
        <if test="mapCode != null and mapCode != ''">
            and map_code = #{mapCode}
        </if>
        <if test="bizType != null and bizType != ''">
            and biz_type != #{bizType}
        </if>
        <if test="bizSecondAreaCode != null and bizSecondAreaCode != ''">
            and biz_second_area_code = #{bizSecondAreaCode}
        </if>
        <if test="operateAreaCode != null and operateAreaCode != ''">
            and operate_area_code = #{operateAreaCode}
        </if>
        <if test="berthTypeValue != null and berthTypeValue != ''">
            and berth_type_value = #{berthTypeValue}
        </if>
    </select>
    <select id="selectBerData" resultType="com.wisdom.iwcs.domain.base.BaseMapBerth" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from base_map_berth
        where 1=1
        and delete_flag = 0
        and map_code = #{mapCode}
        and ber_code = #{berCode}
    </select>
    <select id="selectByPointAlias"  resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from base_map_berth
        where 1=1
        and delete_flag = 0
        and point_alias = #{pointAlias,jdbcType=VARCHAR}
    </select>
    <select id="selectByPointAliass"  resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from base_map_berth
        where 1=1
        and delete_flag = 0
        and point_alias = #{pointAlias,jdbcType=VARCHAR}
    </select>

    <select id="selectDataByPodCode"  resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from base_map_berth
        where 1=1
        and delete_flag = 0
        and pod_code = #{podCode,jdbcType=VARCHAR}
    </select>


    <delete id="deleteByMapCode">
    DELETE FROM base_map_berth WHERE map_code = #{mapCode}
  </delete>
    <select id="selectAlltorageByMapCode" resultType="com.wisdom.iwcs.domain.base.BaseMapBerth">
        select
        <include refid="Base_Column_List"/>
        from base_map_berth where area_code = #{areaCode,jdbcType=VARCHAR} and operate_area_code = #{operateAreaCode,jdbcType=VARCHAR}
    </select>

    <select id="selectBerthCodeByMapCode" resultMap="BaseResultMap">
       select <include refid="Base_Column_List"/> from base_map_berth WHERE map_code = #{mapCode} order by coox
    </select>

    <update id="updateList">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update base_map_berth
            <set>
                berth_type_value = #{item.berthTypeValue},last_modified_time = NOW()
            </set>
            where id = #{item.id}
        </foreach>
    </update>
    <update id="updateLockSource">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update base_map_berth
            <set>
                in_lock=#{item.inLock},lock_source_time = NOW(),lock_source=#{item.lockSource}
            </set>
            where  ber_code= #{item.berCode}
        </foreach>
    </update>
    <update id="updatePodCodeByBerCode">
        update base_map_berth
        <set>
            pod_code = #{podCode}
        </set>
        where ber_code  = #{berCode}
    </update>

    <update id="updatePodByBerCode">
        update base_map_berth
        <set>
            pod_code = #{podCode},
            version = #{version}+1
        </set>
        where ber_code  = #{berCode}
        <if test="version != null and version !=0">
        and version = #{version}
        </if>
    </update>

    <update id="deletePodCodeByBerCode">
        update base_map_berth
        <set>
            pod_code = null,
            version = #{version}+1
        </set>
        where 1=1
              and ber_code  = #{berCode}
              <if test="version != null and version !=0">
                  and version = #{version}
              </if>

    </update>

    <delete id="deleteByBerCodeListAndMapCode">
        delete from base_map_berth where map_code = #{mapCode} and ber_code in
        <foreach collection="berCodeList" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>

    <update id="updateListByBerCode" parameterType="java.util.List">
        <foreach collection="list" item="item"  separator=";">
            update base_map_berth
            <set>
                <if test="item.bizType != null">
                    biz_type = #{item.bizType},
                </if>
                <if test="item.pointAlias != null">
                    point_alias = #{item.pointAlias},
                </if>
                <if test="item.operateAreaCode != null">
                    operate_area_code = #{item.operateAreaCode},
                </if>
                <if test="item.bizSecondAreaCode != null">
                    biz_second_area_code = #{item.bizSecondAreaCode},
                </if>
                <if test="item.podCode != null and item.podCode != ''">
                    pod_code = #{item.podCode}
                </if>
            </set>
            where ber_code = #{item.berCode}
        </foreach>
    </update>

    <update id="updateMapBerthById">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update base_map_berth
            <set>
                in_lock=#{item.inLock},
                berth_type_value = #{item.berthTypeValue}
            </set>
            where  ber_code= #{item.berCode}
        </foreach>
    </update>

    <select id="selectAliasByMapCode" resultType="string">
        select point_alias from base_map_berth
        where 1=1
        and delete_flag = 0
        and map_code = #{mapCode}
        and operate_area_code = 'lineArea'
        and biz_second_area_code is not null
    </select>
    <select id="selectHavePodByBizType" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
         from base_map_berth
        where 1=1
        and map_code = #{mapCode}
        and biz_type = #{bizType}
        and pod_code != ''
        and pod_code is not null
    </select>
    <select id="selectEmptyPosByOperateAreaCode" resultMap="BaseResultMap">
        select  <include refid="Base_Column_List"/> from base_map_berth
        where 1=1
        and map_code = #{mapCode}
        and operate_area_code = #{operateAreaCode}
        and (pod_code = '' or pod_code is null)
        limit 1
    </select>
    <select id="selectByBizTye" resultMap="BaseResultMap">
        select  <include refid="Base_Column_List"/> from base_map_berth
        where 1=1
        and biz_type = #{bizType}
    </select>

    <select id="selectByOperateAreaCode" resultMap="BaseResultMap">
        select  <include refid="Base_Column_List"/> from base_map_berth
        where 1=1
        and operate_area_code = #{operateAreaCode}
    </select>

    <select id="selectLikeBizTye" resultMap="BaseResultMap">
        select  <include refid="Base_Column_List"/> from base_map_berth
        where 1=1
        and biz_type LIKE CONCAT('%',#{bizType},'%')
    </select>

    <select id="selectEmptyPosByBizSecondAreaCode" resultMap="BaseResultMap">
        select  <include refid="Base_Column_List"/> from base_map_berth
        where  1=1
        and operate_area_code = #{operateAreaCode}
        and (pod_code = '' or pod_code is null)
        and in_lock = 0
        limit 1
    </select>

    <select id="selectMapDataByBerCode" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from base_map_berth
        where ber_code = #{berCode}
    </select>

    <select id="selectMapByAreaCode" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from base_map_berth
        where 1=1
        <if test="bizType != null ">
            and biz_type = #{bizType}
        </if>
        <if test="operateAreaCode != null">
            and operate_area_code = #{operateAreaCode}
        </if>
        <if test="bizSecondAreaCode != null">
            and biz_second_area_code = #{bizSecondAreaCode}
        </if>
        and in_lock = 0
        and delete_flag = 0
    </select>
    <update id="updateMapById">
        update base_map_berth
        <set>
            <if test="record.bizType != null">
                biz_type = #{record.bizType},
            </if>
            <if test="record.operateAreaCode != null">
                operate_area_code = #{record.operateAreaCode},
            </if>
            <if test="record.bizSecondAreaCode != null">
                biz_second_area_code = #{record.bizSecondAreaCode},
            </if>
        </set>
        where id in
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
         #{item}
       </foreach>
    </update>
    <update id="updateLockSourceByBercode">
        update base_map_berth
        <set>
            lock_source = #{lockSource}
        </set>
        where ber_code = #{berCode}
    </update>

    <select id="selectAllRollerPoint" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from base_map_berth
        where point_alias LIKE CONCAT('2','%')
    </select>

    <select id="selectEmptyPodNormalPoint" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from base_map_berth
        where(point_alias LIKE '1%' OR point_alias='307' OR point_alias='306')AND (pod_code is NULL OR pod_code='');
    </select>

    <select id="selectEmptyPod2NormalPoint" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from base_map_berth
        where(point_alias LIKE '1%' )AND (pod_code is NULL OR pod_code='');
    </select>
    <select id="selectPodNormalPoint" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from base_map_berth
        where (point_alias LIKE '1%'OR point_alias='306'OR point_alias='307') AND pod_code is not NULL AND pod_code!=''
    </select>

    <update id="updateMapByBerCode">
        update base_map_berth
        <set>
            point_alias = #{pointAlias}
        </set>
        where ber_code = #{berCode}
    </update>

</mapper>