<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdom.iwcs.mapper.base.BaseMapBerthMapper">
    <resultMap id="BaseResultMap" type="com.wisdom.iwcs.domain.base.BaseMapBerth">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="map_code" jdbcType="VARCHAR" property="mapCode"/>
        <result column="ber_code" jdbcType="VARCHAR" property="berCode"/>
        <result column="coox" jdbcType="DECIMAL" property="coox"/>
        <result column="cooy" jdbcType="DECIMAL" property="cooy"/>
        <result column="valid_flag" jdbcType="INTEGER" property="validFlag"/>
        <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag"/>
        <result column="created_by" jdbcType="INTEGER" property="createdBy"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="last_modified_by" jdbcType="INTEGER" property="lastModifiedBy"/>
        <result column="last_modified_time" jdbcType="TIMESTAMP" property="lastModifiedTime"/>
        <result column="berth_type_value" jdbcType="VARCHAR" property="berthTypeValue"/>
        <result column="pod_code" jdbcType="VARCHAR" property="podCode"/>
        <result column="lock_source" jdbcType="VARCHAR" property="lockSource"/>
        <result column="in_lock" jdbcType="INTEGER" property="inLock"/>
        <result column="area_code" jdbcType="VARCHAR" property="areaCode"/>
        <result column="biz_type" jdbcType="VARCHAR" property="bizType"/>
        <result column="relation_piont_code" jdbcType="VARCHAR" property="relationPiontCode"/>
        <result column="point_alias" jdbcType="VARCHAR" property="pointAlias"/>
        <result column="ber_group" jdbcType="VARCHAR" property="berGroup"/>

    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        id, map_code, ber_code, coox, cooy, valid_flag, delete_flag, created_by, created_time,
        last_modified_by, last_modified_time,berth_type_value,pod_code,lock_source,in_lock,area_code,biz_type,relation_piont_code,point_alias,ber_group
    </sql>
    <select id="selectPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from base_map_berth
        where 1=1
        <if test="searchKey != null and searchKey != ''">
            and 1=1
        </if>
        <if test="startTime != null">
            and created_time &gt;= #{startTime,jdbcType=BIGINT}
        </if>
        <if test="endTime != null">
            and created_time &lt;= #{endTime,jdbcType=BIGINT}
        </if>
        order by last_modified_time desc
    </select>
    <select id="selectOneByBercode" resultType="com.wisdom.iwcs.domain.base.BaseMapBerth">
        select
        <include refid="Base_Column_List"/>
        from base_map_berth where ber_code = #{bercode,jdbcType=VARCHAR}
    </select>
    <select id="selectEmptyPointOfInspectionArea" resultType="com.wisdom.iwcs.domain.base.BaseMapBerth" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from base_map_berth
        where 1=1
        and delete_flag = '0'
        and biz_type = 'CHECK_TYPE'
        and berth_type_value = '02'
        and in_lock = 0
        and (pod_code = '' or pod_code is null)
        and map_code = #{mapCode}

    </select>

    <delete id="deleteByMapCode">
    DELETE FROM base_map_berth WHERE map_code = #{mapCode}
  </delete>
</mapper>