<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdom.iwcs.mapper.base.BaseWbBizConfigMapper">
    <resultMap id="BaseResultMap" type="com.wisdom.iwcs.domain.base.BaseWbBizConfig">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="wb_code" jdbcType="VARCHAR" property="wbCode"/>
        <result column="biz_type" jdbcType="VARCHAR" property="bizType"/>
        <result column="biz_batch_max_num" jdbcType="VARCHAR" property="bizBatchMaxNum"/>
        <result column="agv_lift_status" jdbcType="VARCHAR" property="agvLiftStatus"/>
        <result column="agv_return_pod_type" jdbcType="VARCHAR" property="agvReturnPodType"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="created_by" jdbcType="INTEGER" property="createdBy"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="last_modified_by" jdbcType="INTEGER" property="lastModifiedBy"/>
        <result column="last_modified_time" jdbcType="TIMESTAMP" property="lastModifiedTime"/>
        <result column="agv_action_rotate_type" jdbcType="VARCHAR" property="agvActionRotateType"/>
        <result column="biz_default_num" jdbcType="INTEGER" property="bizDefaultNum"/>

    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        id, wb_code, biz_type, biz_batch_max_num, agv_lift_status, agv_return_pod_type, remark,
        created_by, created_time, last_modified_by, last_modified_time,agv_action_rotate_type,biz_default_num
    </sql>
    <select id="selectPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from base_wb_biz_config
        where 1=1
        <if test="searchKey != null and searchKey != ''">
            and 1=1
        </if>
        <if test="startTime != null">
            and created_time &gt;= #{startTime,jdbcType=BIGINT}
        </if>
        <if test="endTime != null">
            and created_time &lt;= #{endTime,jdbcType=BIGINT}
        </if>
        order by last_modified_time desc
    </select>
    <select id="selectByWbCodeAndBizType" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from base_wb_biz_config
        where wb_code = #{wbCode} and biz_type = #{bizType}
    </select>
</mapper>