<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdom.iwcs.mapper.GeneratorColumnMapper">
    <resultMap id="BaseResultMap" type="com.wisdom.iwcs.domain.GeneratorColumnDto">
        <result column="field" jdbcType="VARCHAR" property="field"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
    </resultMap>

    <select id="getColumnInfo" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT column_name AS field,column_comment AS description FROM INFORMATION_SCHEMA.Columns WHERE table_name = #{tableName,jdbcType=VARCHAR} AND column_name &lt;&gt; 'id' AND column_name &lt;&gt; 'delete_flag'
  </select>
</mapper>