<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdom.iwcs.mapper.system.RoleMapper">
    <sql id="Base_Column_List">
    id, rolecode, role_name, is_sys_role, available, created_by, created_time, last_modified_by, 
    last_modified_time, delete_flag
  </sql>
    <resultMap id="BaseResultMap" type="com.wisdom.iwcs.domain.system.Role">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="rolecode" jdbcType="VARCHAR" property="rolecode"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="is_sys_role" jdbcType="BIT" property="isSysRole"/>
        <result column="available" jdbcType="BIT" property="available"/>
        <result column="company_id" jdbcType="INTEGER" property="companyId"/>
        <result column="created_by" jdbcType="INTEGER" property="createdBy"/>
        <result column="created_time" jdbcType="BIGINT" property="createdTime"/>
        <result column="last_modified_by" jdbcType="INTEGER" property="lastModifiedBy"/>
        <result column="last_modified_time" jdbcType="BIGINT" property="lastModifiedTime"/>
        <result column="delete_flag" jdbcType="BIT" property="deleteFlag"/>
    </resultMap>
    <resultMap id="RoleDTOMap" type="com.wisdom.iwcs.domain.system.dto.RoleDTO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="rolecode" jdbcType="VARCHAR" property="rolecode"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="is_sys_role" jdbcType="BIT" property="isSysRole"/>
        <result column="available" jdbcType="BIT" property="available"/>
        <result column="company_id" jdbcType="INTEGER" property="companyId"/>
        <result column="departname" jdbcType="VARCHAR" property="companyName"/>
        <result column="created_by" jdbcType="INTEGER" property="createdBy"/>
        <result column="created_time" jdbcType="BIGINT" property="createdTime"/>
        <result column="last_modified_by" jdbcType="INTEGER" property="lastModifiedBy"/>
        <result column="last_modified_time" jdbcType="BIGINT" property="lastModifiedTime"/>
        <result column="delete_flag" jdbcType="BIT" property="deleteFlag"/>
    </resultMap>
    <insert id="insert" parameterType="com.wisdom.iwcs.domain.system.Role">
    insert into s_role (id, rolecode, role_name, 
      is_sys_role, available, created_by, 
      created_time, last_modified_by, last_modified_time, 
      delete_flag)
    values (#{id,jdbcType=INTEGER}, #{rolecode,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR}, 
      #{isSysRole,jdbcType=BIT}, #{available,jdbcType=BIT}, #{createdBy,jdbcType=INTEGER}, 
      #{createdTime,jdbcType=BIGINT}, #{lastModifiedBy,jdbcType=INTEGER}, #{lastModifiedTime,jdbcType=BIGINT}, 
      #{deleteFlag,jdbcType=BIT})
  </insert>
    <insert id="insertSelective" parameterType="com.wisdom.iwcs.domain.system.Role">
        insert into s_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="rolecode != null">
                rolecode,
            </if>
            <if test="roleName != null">
                role_name,
            </if>
            <if test="isSysRole != null">
                is_sys_role,
            </if>
            <if test="available != null">
                available,
            </if>
            <if test="companyId != null">
                company_id,
            </if>
            <if test="createdBy != null">
                created_by,
            </if>
            <if test="createdTime != null">
                created_time,
            </if>
            <if test="lastModifiedBy != null">
                last_modified_by,
            </if>
            <if test="lastModifiedTime != null">
                last_modified_time,
            </if>
            <if test="deleteFlag != null">
                delete_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="rolecode != null">
                #{rolecode,jdbcType=VARCHAR},
            </if>
            <if test="roleName != null">
                #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="isSysRole != null">
                #{isSysRole,jdbcType=BIT},
            </if>
            <if test="available != null">
                #{available,jdbcType=BIT},
            </if>
            <if test="companyId != null">
                #{companyId,jdbcType=INTEGER},
            </if>
            <if test="createdBy != null">
                #{createdBy,jdbcType=INTEGER},
            </if>
            <if test="createdTime != null">
                #{createdTime,jdbcType=BIGINT},
            </if>
            <if test="lastModifiedBy != null">
                #{lastModifiedBy,jdbcType=INTEGER},
            </if>
            <if test="lastModifiedTime != null">
                #{lastModifiedTime,jdbcType=BIGINT},
            </if>
            <if test="deleteFlag != null">
                #{deleteFlag,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <insert id="insertInBatch">
        insert into s_role (id, rolecode, role_name, is_sys_role, available, created_by, created_time, last_modified_by,
        last_modified_time, delete_flag) values
        <foreach close="" collection="list" index="index" item="item" open="" separator=",">
            (#{item.id,jdbcType=INTEGER}, #{item.rolecode,jdbcType=VARCHAR}, #{item.roleName,jdbcType=VARCHAR},
            #{item.isSysRole,jdbcType=BIT}, #{item.available,jdbcType=BIT}, #{item.createdBy,jdbcType=INTEGER},
            #{item.createdTime,jdbcType=BIGINT}, #{item.lastModifiedBy,jdbcType=INTEGER},
            #{item.lastModifiedTime,jdbcType=BIGINT}, #{item.deleteFlag,jdbcType=BIT})
        </foreach>
    </insert>
    <delete id="deleteById" parameterType="java.lang.Integer">
    delete from s_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByObject" parameterType="com.wisdom.iwcs.domain.system.Role">
        delete from s_role
        <where>
            <if test="id != null">
                id = #{id,jdbcType=INTEGER}
            </if>
            <if test="rolecode != null">
                and rolecode = #{rolecode,jdbcType=VARCHAR}
            </if>
            <if test="roleName != null">
                and role_name = #{roleName,jdbcType=VARCHAR}
            </if>
            <if test="isSysRole != null">
                and is_sys_role = #{isSysRole,jdbcType=BIT}
            </if>
            <if test="available != null">
                and available = #{available,jdbcType=BIT}
            </if>
            <if test="createdBy != null">
                and created_by = #{createdBy,jdbcType=INTEGER}
            </if>
            <if test="createdTime != null">
                and created_time = #{createdTime,jdbcType=BIGINT}
            </if>
            <if test="lastModifiedBy != null">
                and last_modified_by = #{lastModifiedBy,jdbcType=INTEGER}
            </if>
            <if test="lastModifiedTime != null">
                and last_modified_time = #{lastModifiedTime,jdbcType=BIGINT}
            </if>
            <if test="deleteFlag != null">
                and delete_flag = #{deleteFlag,jdbcType=BIT}
            </if>
        </where>
    </delete>
    <delete id="deleteByIds">
        delete from s_role
        where id in
        <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
            #{item,jdbcType=INTEGER}
        </foreach>
    </delete>
    <delete id="deleteAll">
    delete from s_role
  </delete>
    <update id="updateById" parameterType="com.wisdom.iwcs.domain.system.Role">
    update s_role
    set rolecode = #{rolecode,jdbcType=VARCHAR},
      role_name = #{roleName,jdbcType=VARCHAR},
      is_sys_role = #{isSysRole,jdbcType=BIT},
      available = #{available,jdbcType=BIT},
      created_by = #{createdBy,jdbcType=INTEGER},
      created_time = #{createdTime,jdbcType=BIGINT},
      last_modified_by = #{lastModifiedBy,jdbcType=INTEGER},
      last_modified_time = #{lastModifiedTime,jdbcType=BIGINT},
      delete_flag = #{deleteFlag,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateByIdSelective" parameterType="com.wisdom.iwcs.domain.system.Role">
        update s_role
        <set>
            <if test="rolecode != null">
                rolecode = #{rolecode,jdbcType=VARCHAR},
            </if>
            <if test="roleName != null">
                role_name = #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="isSysRole != null">
                is_sys_role = #{isSysRole,jdbcType=BIT},
            </if>
            <if test="available != null">
                available = #{available,jdbcType=BIT},
            </if>
            <if test="companyId != null">
                company_id = #{companyId,jdbcType=INTEGER},
            </if>
            <if test="createdBy != null">
                created_by = #{createdBy,jdbcType=INTEGER},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime,jdbcType=BIGINT},
            </if>
            <if test="lastModifiedBy != null">
                last_modified_by = #{lastModifiedBy,jdbcType=INTEGER},
            </if>
            <if test="lastModifiedTime != null">
                last_modified_time = #{lastModifiedTime,jdbcType=BIGINT},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateToDelete">
        update s_role
        <set>
            delete_flag = 1
        </set>
        where id in
        <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
            #{item,jdbcType=INTEGER}
        </foreach>
    </update>
    <select id="selectOneById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from s_role
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectOneByObject" parameterType="com.wisdom.iwcs.domain.system.Role" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from s_role
        <where>
            <if test="id != null">
                id = #{id,jdbcType=INTEGER}
            </if>
            <if test="rolecode != null">
                and rolecode = #{rolecode,jdbcType=VARCHAR}
            </if>
            <if test="roleName != null">
                and role_name = #{roleName,jdbcType=VARCHAR}
            </if>
            <if test="isSysRole != null">
                and is_sys_role = #{isSysRole,jdbcType=BIT}
            </if>
            <if test="available != null">
                and available = #{available,jdbcType=BIT}
            </if>
            <if test="createdBy != null">
                and created_by = #{createdBy,jdbcType=INTEGER}
            </if>
            <if test="createdTime != null">
                and created_time = #{createdTime,jdbcType=BIGINT}
            </if>
            <if test="lastModifiedBy != null">
                and last_modified_by = #{lastModifiedBy,jdbcType=INTEGER}
            </if>
            <if test="lastModifiedTime != null">
                and last_modified_time = #{lastModifiedTime,jdbcType=BIGINT}
            </if>
            <if test="companyId != null">
                and company_id = #{companyId,jdbcType=INTEGER}
            </if>
            <if test="deleteFlag != null">
                and delete_flag = #{deleteFlag,jdbcType=BIT}
            </if>
        </where>
    </select>
    <select id="selectByObject" parameterType="com.wisdom.iwcs.domain.system.Role" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from s_role
        <where>
            <if test="id != null">
                id = #{id,jdbcType=INTEGER}
            </if>
            <if test="rolecode != null">
                and rolecode = #{rolecode,jdbcType=VARCHAR}
            </if>
            <if test="roleName != null">
                and role_name like CONCAT('%',#{roleName,jdbcType=VARCHAR},'%')
            </if>
            <if test="isSysRole != null">
                and is_sys_role = #{isSysRole,jdbcType=BIT}
            </if>
            <if test="available != null">
                and available = #{available,jdbcType=BIT}
            </if>
            <if test="createdBy != null">
                and created_by = #{createdBy,jdbcType=INTEGER}
            </if>
            <if test="createdTime != null">
                and created_time = #{createdTime,jdbcType=BIGINT}
            </if>
            <if test="lastModifiedBy != null">
                and last_modified_by = #{lastModifiedBy,jdbcType=INTEGER}
            </if>
            <if test="lastModifiedTime != null">
                and last_modified_time = #{lastModifiedTime,jdbcType=BIGINT}
            </if>
            <if test="deleteFlag != null">
                and delete_flag = #{deleteFlag,jdbcType=BIT}
            </if>
        </where>
    </select>

    <select id="selectByRole" parameterType="com.wisdom.iwcs.domain.system.Role" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from s_role
        <where>
            <if test="id != null">
                id = #{id,jdbcType=INTEGER}
            </if>
            <if test="rolecode != null">
                and rolecode = #{rolecode,jdbcType=VARCHAR}
            </if>
            <if test="roleName != null">
                and role_name =#{roleName,jdbcType=VARCHAR}
            </if>
            <if test="isSysRole != null">
                and is_sys_role = #{isSysRole,jdbcType=BIT}
            </if>
            <if test="available != null">
                and available = #{available,jdbcType=BIT}
            </if>
            <if test="createdBy != null">
                and created_by = #{createdBy,jdbcType=INTEGER}
            </if>
            <if test="createdTime != null">
                and created_time = #{createdTime,jdbcType=BIGINT}
            </if>
            <if test="lastModifiedBy != null">
                and last_modified_by = #{lastModifiedBy,jdbcType=INTEGER}
            </if>
            <if test="lastModifiedTime != null">
                and last_modified_time = #{lastModifiedTime,jdbcType=BIGINT}
            </if>
            <if test="companyId != null">
                and company_id = #{companyId,jdbcType=INTEGER}
            </if>
            <if test="deleteFlag != null">
                and delete_flag = #{deleteFlag,jdbcType=BIT}
            </if>
        </where>
    </select>

    <select id="selectRoleDTO" parameterType="com.wisdom.iwcs.domain.system.dto.RoleDTO" resultMap="RoleDTOMap">
        select
        sr.*,sd.departname
        from s_role sr LEFT join s_depart sd on sr.company_id= sd.id
        <where>
            <if test="id != null">
                sr.id = #{id,jdbcType=INTEGER}
            </if>
            <if test="rolecode != null">
                and sr.rolecode = #{rolecode,jdbcType=VARCHAR}
            </if>
            <if test="roleName != null">
                and sr.role_name like CONCAT('%',#{roleName,jdbcType=VARCHAR},'%')
            </if>
            <if test="isSysRole != null">
                and sr.is_sys_role = #{isSysRole,jdbcType=BIT}
            </if>
            <if test="available != null">
                and sr.available = #{available,jdbcType=BIT}
            </if>
            <if test="companyId != null">
                and sr.company_id = #{companyId,jdbcType=INTEGER}
            </if>
            <if test="deleteFlag != null">
                and sr.delete_flag = #{deleteFlag,jdbcType=BIT}
            </if>
            <if test="companyName != null">
                and sd.departname like CONCAT('%',#{companyName,jdbcType=VARCHAR},'%')
            </if>
        </where>
    </select>
    <select id="selectByString" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from s_role
        where 1 = 1
        <if test="searchKey!= null and searchKey != ''">
            AND r.role_name LIKE CONCAT('%',#{searchKey},'%')
        </if>
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from s_role
    </select>
    <select id="count" parameterType="com.wisdom.iwcs.domain.system.Role" resultType="long">
        select count(1)
        from s_role
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="rolecode != null">
                and rolecode = #{rolecode,jdbcType=VARCHAR}
            </if>
            <if test="roleName != null">
                and role_name = #{roleName,jdbcType=VARCHAR}
            </if>
            <if test="isSysRole != null">
                and is_sys_role = #{isSysRole,jdbcType=BIT}
            </if>
            <if test="available != null">
                and available = #{available,jdbcType=BIT}
            </if>
            <if test="createdBy != null">
                and created_by = #{createdBy,jdbcType=INTEGER}
            </if>
            <if test="createdTime != null">
                and created_time = #{createdTime,jdbcType=BIGINT}
            </if>
            <if test="lastModifiedBy != null">
                and last_modified_by = #{lastModifiedBy,jdbcType=INTEGER}
            </if>
            <if test="lastModifiedTime != null">
                and last_modified_time = #{lastModifiedTime,jdbcType=BIGINT}
            </if>
            <if test="deleteFlag != null">
                and delete_flag = #{deleteFlag,jdbcType=BIT}
            </if>
        </where>
    </select>
    <select id="countAll" resultType="long">
    select count(1) 
    from s_role
  </select>
    <select id="getAllRoles" resultMap="BaseResultMap">
    SELECT * from s_role where delete_flag = 0;
  </select>
    <select id="getCompanyRole" resultMap="BaseResultMap">
    select * from s_role where company_id= #{companyId,jdbcType=INTEGER} and delete_flag = 0;
  </select>
</mapper>