<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdom.iwcs.mapper.task.AgvCallbackMapper">
  <resultMap id="BaseResultMap" type="com.wisdom.iwcs.domain.task.AgvCallback">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="req_code" jdbcType="VARCHAR" property="reqCode" />
    <result column="req_time" jdbcType="VARCHAR" property="reqTime" />
    <result column="client_code" jdbcType="VARCHAR" property="clientCode" />
    <result column="token_code" jdbcType="VARCHAR" property="tokenCode" />
    <result column="interface_name" jdbcType="VARCHAR" property="interfaceName" />
    <result column="method" jdbcType="VARCHAR" property="method" />
    <result column="task_code" jdbcType="VARCHAR" property="taskCode" />
    <result column="wb_code" jdbcType="VARCHAR" property="wbCode" />
    <result column="pod_code" jdbcType="VARCHAR" property="podCode" />
    <result column="area_code" jdbcType="VARCHAR" property="areaCode" />
    <result column="material_lot" jdbcType="VARCHAR" property="materialLot" />
    <result column="current_position_code" jdbcType="VARCHAR" property="currentPositionCode" />
    <result column="data" jdbcType="VARCHAR" property="data" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, req_code, req_time, client_code, token_code, interface_name, method, task_code, 
    wb_code, pod_code, area_code, material_lot, current_position_code, data
  </sql>
  <select id="selectPage" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from agv_callback
     where 1=1
    <if test="searchKey != null and searchKey != ''">
      and 1=1
    </if>
    <if test="startTime != null">
      and created_time &gt;= #{startTime,jdbcType=BIGINT}
    </if>
    <if test="endTime != null">
      and created_time &lt;= #{endTime,jdbcType=BIGINT}
    </if>
    order by last_modified_time desc
  </select>
</mapper>