<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdom.iwcs.mapper.task.LineTaskMapper">
  <resultMap id="BaseResultMap" type="com.wisdom.iwcs.domain.task.LineTask">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="line_req_code" jdbcType="VARCHAR" property="lineReqCode" />
    <result column="web_code" jdbcType="VARCHAR" property="webCode" />
    <result column="line_status" jdbcType="VARCHAR" property="lineStatus" />
    <result column="work_type" jdbcType="VARCHAR" property="workType" />
    <result column="cmd_type" jdbcType="VARCHAR" property="cmdType" />
    <result column="line_url" jdbcType="VARCHAR" property="lineUrl" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.wisdom.iwcs.domain.task.LineTask">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="remark" jdbcType="LONGVARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, line_req_code, web_code, line_status, work_type, cmd_type, line_url, created_time
  </sql>
  <sql id="Blob_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    remark
  </sql>
  <select id="selectPage" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from line_task
     where 1=1
    <if test="searchKey != null and searchKey != ''">
      and 1=1
    </if>
    <if test="startTime != null">
      and created_time &gt;= #{startTime,jdbcType=BIGINT}
    </if>
    <if test="endTime != null">
      and created_time &lt;= #{endTime,jdbcType=BIGINT}
    </if>
    order by last_modified_time desc
  </select>
</mapper>