<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdom.iwcs.mapper.task.MainTaskResPreHandlerMapper">
  <resultMap id="BaseResultMap" type="com.wisdom.iwcs.domain.task.MainTaskResPreHandler">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pre_handler_code" jdbcType="VARCHAR" property="preHandlerCode" />
    <result column="main_task_type" jdbcType="VARCHAR" property="mainTaskType" />
    <result column="resource_type" jdbcType="VARCHAR" property="resourceType" />
    <result column="resource_locate_type" jdbcType="VARCHAR" property="resourceLocateType" />
    <result column="resource_locate_params" jdbcType="VARCHAR" property="resourceLocateParams" />
    <result column="validation_strategy" jdbcType="VARCHAR" property="validationStrategy" />
    <result column="operation_strategy" jdbcType="VARCHAR" property="operationStrategy" />
    <result column="valid_flag" jdbcType="INTEGER" property="validFlag" />
    <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_modified_time" jdbcType="TIMESTAMP" property="lastModifiedTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, pre_handler_code, main_task_type, resource_type, resource_locate_type, resource_locate_params, 
    validation_strategy, operation_strategy, valid_flag, delete_flag, remark, create_time, 
    last_modified_time
  </sql>
  <select id="selectPage" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from main_task_res_pre_handler
     where 1=1
    <if test="searchKey != null and searchKey != ''">
      and 1=1
    </if>
    <if test="startTime != null">
      and created_time &gt;= #{startTime,jdbcType=BIGINT}
    </if>
    <if test="endTime != null">
      and created_time &lt;= #{endTime,jdbcType=BIGINT}
    </if>
    order by last_modified_time desc
  </select>

  <select id="selectByMainTaskType" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from main_task_res_pre_handler
    where valid_flag = 0
    and main_task_type = #{mainTaskType}
  </select>
</mapper>