<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdom.iwcs.mapper.task.MainTaskTypeMapper">
  <resultMap id="BaseResultMap" type="com.wisdom.iwcs.domain.task.MainTaskType">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="main_task_type_code" jdbcType="VARCHAR" property="mainTaskTypeCode" />
    <result column="main_task_type_name" jdbcType="VARCHAR" property="mainTaskTypeName" />
    <result column="exec_bean" jdbcType="VARCHAR" property="execBean" />
    <result column="priority" jdbcType="INTEGER" property="priority" />
    <result column="loop_exec" jdbcType="VARCHAR" property="loopExec" />
    <result column="interval_time" jdbcType="INTEGER" property="intervalTime" />
    <result column="multi_target_task" jdbcType="VARCHAR" property="multiTargetTask" />
    <result column="rel_vice_task_typ" jdbcType="VARCHAR" property="relViceTaskTyp" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="is_default" jdbcType="INTEGER" property="isDefault" />
    <result column="decomp_num" jdbcType="INTEGER" property="decompNum" />
  </resultMap>
  <resultMap id="MainTaskTypeAndAreaCodeMap" type="com.wisdom.iwcs.domain.base.dto.MainTaskTypeAndAreaCode">
    <result column="main_task_type_code" jdbcType="VARCHAR" property="mainTaskTypeCode" />
    <result column="main_task_type_name" jdbcType="VARCHAR" property="mainTaskTypeName" />
    <result column="exec_bean" jdbcType="VARCHAR" property="execBean" />
    <result column="priority" jdbcType="INTEGER" property="priority" />
    <result column="loop_exec" jdbcType="VARCHAR" property="loopExec" />
    <result column="interval_time" jdbcType="INTEGER" property="intervalTime" />
    <result column="multi_target_task" jdbcType="VARCHAR" property="multiTargetTask" />
    <result column="rel_vice_task_typ" jdbcType="VARCHAR" property="relViceTaskTyp" />
    <result column="area_code" jdbcType="VARCHAR" property="areaCode" />
    <result column="is_default" jdbcType="INTEGER" property="isDefault" />
    <result column="decomp_num" jdbcType="INTEGER" property="decompNum" />
  </resultMap>



  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, main_task_type_code, main_task_type_name, exec_bean, priority, loop_exec, interval_time, 
    multi_target_task, rel_vice_task_typ, create_date, remark, is_default, decomp_num
  </sql>
  <select id="selectPage" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from ts_main_task_type
     where 1=1
    <if test="searchKey != null and searchKey != ''">
      and 1=1
    </if>
    <if test="startTime != null">
      and created_time &gt;= #{startTime,jdbcType=BIGINT}
    </if>
    <if test="endTime != null">
      and created_time &lt;= #{endTime,jdbcType=BIGINT}
    </if>
  </select>
    <select id="selectByMainTaskTypeCode" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from ts_main_task_type
        where main_task_type_code = #{mainTaskTypeCode,jdbcType=VARCHAR}
    </select>
    <select id="selectAllTaskType" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from ts_main_task_type
        where 1 = 1
    </select>
  <select id="selectTaskTypeWithAreaCode" resultType="com.wisdom.iwcs.domain.base.dto.MainTaskTypeAndAreaCode" resultMap="MainTaskTypeAndAreaCodeMap">
    select tmtt.main_task_type_code,tmtt.main_task_type_name,tmtt.priority,tmtt.loop_exec,tmtt.interval_time,
    tmtt.multi_target_task,tmtt.rel_vice_task_typ,tmtt.is_default,tmtt.decomp_num,wrtt.area_code
    from wh_area_rel_task_type as wrtt
    left join ts_main_task_type as tmtt on wrtt.main_task_type_code = tmtt.main_task_type_code
    where wrtt.area_code = #{areaCode}
  </select>

</mapper>