<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdom.iwcs.mapper.task.MainTaskMapper">
  <resultMap id="BaseResultMap" type="com.wisdom.iwcs.domain.task.MainTask">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="main_task_num" jdbcType="VARCHAR" property="mainTaskNum" />
    <result column="main_task_type_code" jdbcType="VARCHAR" property="mainTaskTypeCode" />
    <result column="task_status" jdbcType="VARCHAR" property="taskStatus" />
    <result column="date_chg" jdbcType="TIMESTAMP" property="dateChg" />
    <result column="main_task_seq" jdbcType="INTEGER" property="mainTaskSeq" />
    <result column="group_id" jdbcType="VARCHAR" property="groupId" />
    <result column="sequence" jdbcType="INTEGER" property="sequence" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="priority" jdbcType="INTEGER" property="priority" />
    <result column="task_group_code" jdbcType="VARCHAR" property="taskGroupCode" />
    <result column="exector_num" jdbcType="VARCHAR" property="exectorNum" />
      <result column="area_code" jdbcType="VARCHAR" property="areaCode" />

      <result property="sourceFloor" jdbcType="VARCHAR" column="source_floor"/>
      <result property="destFloor" jdbcType="VARCHAR" column="dest_floor"/>
      <result property="elevatorWorkType" jdbcType="VARCHAR" column="elevator_work_type"/>
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, main_task_num, main_task_type_code, task_status, date_chg, main_task_seq, group_id, 
    sequence, create_date, remark, priority, task_group_code, exector_num, area_code, source_floor, dest_floor, elevator_work_type
  </sql>
  <select id="selectPage" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from ts_main_task
     where 1=1
    <if test="searchKey != null and searchKey != ''">
      and 1=1
    </if>
    <if test="startTime != null">
      and UNIX_TIMESTAMP(create_date) >= (#{startTime, jdbcType=BIGINT} / 1000) + 8 * 60 * 60
    </if>
    <if test="endTime != null">
      and UNIX_TIMESTAMP(create_date) &lt;= (#{endTime, jdbcType=BIGINT} / 1000) + 8 * 60 * 60
    </if>
    <if test="mainTaskNum != null and mainTaskNum != ''">
      and main_task_num = #{mainTaskNum}
    </if>
    <if test="mainTaskTypeCode != null and mainTaskTypeCode != ''">
      and main_task_type_code = #{mainTaskTypeCode}
    </if>
    <if test="taskStatus != null and taskStatus != ''">
      and task_status = #{taskStatus}
    </if>
    <if test="areaCode != null and areaCode != ''">
      and area_code = #{areaCode}
    </if>
    order by create_date desc, task_status asc
  </select>

  <select id="selectByMainTaskNum" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from ts_main_task
    where main_task_num = #{mainTaskNum}
    LIMIT 1
  </select>
    <select id="selectByTaskStatus" resultType="com.wisdom.iwcs.domain.task.MainTask">
        select
        <include refid="Base_Column_List"/>
        from ts_main_task
        where task_status = #{taskStatus}
    </select>


  <update id="updatePriority">
    update ts_main_task
    <set>
      priority = #{priority}
    </set>
    where main_task_num = #{mainTaskNum}
  </update>

    <update id="updateMainTaskEleByMainTaskNum">
        update ts_main_task
        <set>
            source_floor = #{sourceFloor},
            dest_floor = #{destFloor},
            elevator_work_type = #{elevatorWorkType},
        </set>
        where main_task_num = #{mainTaskNum}
    </update>
</mapper>