<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdom.iwcs.mapper.task.SubTaskMapper">
  <resultMap id="BaseResultMap" type="com.wisdom.iwcs.domain.task.SubTask">
    <!--
      WARNING - @mbg.generated
    -->
      <id property="id" jdbcType="BIGINT" column="id"/>

      <result property="subTaskNum" jdbcType="VARCHAR" column="sub_task_num"/>

      <result property="subTaskTyp" jdbcType="VARCHAR" column="sub_task_typ"/>

      <result property="subTaskSeq" jdbcType="INTEGER" column="sub_task_seq"/>

      <result property="mainTaskNum" jdbcType="VARCHAR" column="main_task_num"/>

      <result property="mainTaskSeq" jdbcType="INTEGER" column="main_task_seq"/>

      <result property="mainTaskType" jdbcType="VARCHAR" column="main_task_type"/>

      <result property="groupFlag" jdbcType="VARCHAR" column="group_flag"/>

      <result property="taskGroupCode" jdbcType="VARCHAR" column="task_group_code"/>

      <result property="createDate" jdbcType="TIMESTAMP" column="create_date"/>

      <result property="taskMsg" jdbcType="VARCHAR" column="task_msg"/>

      <result property="sendStatus" jdbcType="VARCHAR" column="send_status"/>

      <result property="remark" jdbcType="VARCHAR" column="remark"/>

      <result property="needConfirm" jdbcType="VARCHAR" column="need_confirm"/>

      <result property="needInform" jdbcType="VARCHAR" column="need_inform"/>

      <result property="needTrigger" jdbcType="VARCHAR" column="need_trigger"/>

      <result property="triggerType" jdbcType="VARCHAR" column="trigger_type"/>

      <result property="conditionHandler" jdbcType="VARCHAR" column="condition_handler"/>

      <result property="thirdInvokeType" jdbcType="VARCHAR" column="third_invoke_type"/>

      <result property="thirdType" jdbcType="VARCHAR" column="third_type"/>

      <result property="appCode" jdbcType="VARCHAR" column="app_code"/>

      <result property="thirdUrl" jdbcType="VARCHAR" column="third_url"/>

      <result property="thirdStartMethod" jdbcType="VARCHAR" column="third_start_method"/>

      <result property="thirdEndMethod" jdbcType="VARCHAR" column="third_end_method"/>

      <result property="pointAccess" jdbcType="VARCHAR" column="point_access"/>

      <result property="sequence" jdbcType="INTEGER" column="sequence"/>

      <result property="cancelFlag" jdbcType="INTEGER" column="cancel_flag"/>

      <result property="cancelId" jdbcType="INTEGER" column="cancel_id"/>

      <result property="cancelType" jdbcType="VARCHAR" column="cancel_type"/>

      <result property="dateChg" jdbcType="VARCHAR" column="date_chg"/>

      <result property="groupId" jdbcType="VARCHAR" column="group_id"/>

      <result property="loopExec" jdbcType="VARCHAR" column="loop_exec"/>

      <result property="priority" jdbcType="INTEGER" column="priority"/>

      <result property="taskStatus" jdbcType="VARCHAR" column="task_status"/>

      <result property="mapCode" jdbcType="VARCHAR" column="map_code"/>

      <result property="podCode" jdbcType="VARCHAR" column="pod_code"/>

      <result property="podDir" jdbcType="VARCHAR" column="pod_dir"/>

      <result property="startBercode" jdbcType="VARCHAR" column="start_bercode"/>

      <result property="startX" jdbcType="DECIMAL" column="start_x"/>

      <result property="startY" jdbcType="DECIMAL" column="start_y"/>

      <result property="endBercode" jdbcType="VARCHAR" column="end_bercode"/>

      <result property="endX" jdbcType="DECIMAL" column="end_x"/>

      <result property="endY" jdbcType="DECIMAL" column="end_y"/>

      <result property="endRemark" jdbcType="VARCHAR" column="end_remark"/>

      <result property="workerTaskCode" jdbcType="VARCHAR" column="worker_task_code"/>

      <result property="areaCode" jdbcType="VARCHAR" column="area_code"/>

      <result property="subTaskBizProp" jdbcType="VARCHAR" column="sub_task_biz_prop"/>

      <result property="robotCode" jdbcType="VARCHAR" column="robot_code"/>
      <result property="workTaskStatus" jdbcType="VARCHAR" column="work_task_status"/>


  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
      id, sub_task_num, sub_task_typ, sub_task_seq, main_task_num, main_task_seq, main_task_type, group_flag,
      task_group_code, create_date, task_msg, send_status, remark, need_confirm, need_inform, need_trigger,
      trigger_type, condition_handler, third_invoke_type, third_type, app_code, third_url, third_start_method,
      third_end_method, point_access, sequence, cancel_flag, cancel_id, cancel_type, date_chg, group_id, loop_exec,
      priority, task_status, map_code, pod_code, pod_dir, start_bercode, start_x, start_y, end_bercode, end_x, end_y,
      end_remark, worker_task_code, area_code, sub_task_biz_prop, robot_code, work_task_status
  </sql>
  <select id="selectPage" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from ts_sub_task
     where 1=1
    <if test="searchKey != null and searchKey != ''">
      and 1=1
    </if>
    <if test="startTime != null">
      and create_date &gt;= #{startTime,jdbcType=BIGINT}
    </if>
    <if test="endTime != null">
      and create_date &lt;= #{endTime,jdbcType=BIGINT}
    </if>
    <if test="subTaskNum != null and subTaskNum != ''">
      and sub_task_num = #{subTaskNum}
    </if>
    <if test="subTaskTyp != null and subTaskTyp != ''">
      and sub_task_typ = #{subTaskTyp}
    </if>
    <if test="mainTaskNum != null and mainTaskNum != ''">
      and main_task_num = #{mainTaskNum}
    </if>
    <if test="mainTaskType != null and mainTaskType != ''">
      and main_task_type = #{mainTaskType}
    </if>

    <if test="sendStatus != null and sendStatus != ''">
      and send_status = #{sendStatus}
    </if>
    <if test="taskStatus != null and taskStatus != ''">
      and task_status = #{taskStatus}
    </if>
    <if test="mapCode != null and mapCode != ''">
      and map_code = #{mapCode}
    </if>
    <if test="podCode != null and podCode != ''">
      and pod_code = #{podCode}
    </if>
    <if test="startBercode != null and startBercode != ''">
      and start_bercode = #{startBercode}
    </if>
    <if test="endBercode != null and endBercode != ''">
      and end_bercode = #{endBercode}
    </if>

    <if test="areaCode != null and areaCode != ''">
      and area_code = #{areaCode}
    </if>
    <if test="subTaskBizProp != null and subTaskBizProp != ''">
      and sub_task_biz_prop = #{subTaskBizProp}
    </if>
  </select>
    <select id="selectByMainTaskNum" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ts_sub_task
        where main_task_num = #{mainTaskNum,jdbcType= VARCHAR}
        order by sub_task_seq ASC
    </select>

    <select id="selectBySubTaskNum" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ts_sub_task
        where sub_task_num = #{subTaskNum}
        LIMIT 1
    </select>
  <update id="updateSendStatus">
    update ts_sub_task
    <set>
        <if test="status != null and status != ''">
          send_status = #{status}
        </if>
    </set>
    where sub_task_num = #{subTaskNum}
  </update>
  <update id="updatePodCodeBySubTaskCode">
    update ts_sub_task
    <set>
          pod_code = #{podCode}
    </set>
    where sub_task_num = #{subTaskNum}
  </update>
  <update id="updateEndCodeBySubTaskCode">
    update ts_sub_task
    <set>
      end_bercode = #{baseMapBerth.berCode},
        endX = #{baseMapBerth.coox},
        endY = #{baseMapBerth.cooy}
    </set>
    where sub_task_num = #{subTaskNum}
  </update>


  <update id="updatePriority">
    update ts_sub_task
    <set>
      priority = #{priority}
    </set>
    where sub_task_num = #{subTaskNum}
  </update>
  <update id="updateRobotCodeByBerCode">
    update ts_sub_task
    <set>
      work_task_status = #{workTaskStatus},
      <if test="robotCode != null and robotCode != ''">
        robot_code = #{robotCode},
      </if>
    </set>
    where worker_task_code = #{workerTaskCode}
  </update>

  <select id="selectByTaskCode" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from ts_sub_task
    where worker_task_code = #{taskCode}
    LIMIT 1
  </select>

  <update id="updatePodAndBerBySubTaskCode">
    update ts_sub_task
    <set>
      pod_code = #{podCode},
      start_bercode = #{berCode}
    </set>
    where sub_task_num = #{subTaskNum}
  </update>

  <update id="updateTaskStatusByNum">
    update ts_sub_task
    <set>
      task_status = #{statusCode}
    </set>
    where sub_task_num = #{subTaskNum}
  </update>

</mapper>