<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdom.iwcs.mapper.task.SubTaskMapper">
  <resultMap id="BaseResultMap" type="com.wisdom.iwcs.domain.task.SubTask">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="sub_task_num" jdbcType="VARCHAR" property="subTaskNum" />
    <result column="sub_task_typ" jdbcType="VARCHAR" property="subTaskTyp" />
    <result column="sub_task_seq" jdbcType="INTEGER" property="subTaskSeq" />
    <result column="main_task_num" jdbcType="VARCHAR" property="mainTaskNum" />
    <result column="main_task_seq" jdbcType="INTEGER" property="mainTaskSeq" />
    <result column="main_task_type" jdbcType="VARCHAR" property="mainTaskType" />
    <result column="group_flag" jdbcType="VARCHAR" property="groupFlag" />
    <result column="task_group_code" jdbcType="VARCHAR" property="taskGroupCode" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="task_msg" jdbcType="VARCHAR" property="taskMsg" />
    <result column="send_status" jdbcType="VARCHAR" property="sendStatus" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="need_confirm" jdbcType="VARCHAR" property="needConfirm" />
    <result column="need_inform" jdbcType="VARCHAR" property="needInform" />
    <result column="need_trigger" jdbcType="VARCHAR" property="needTrigger" />
    <result column="trigger_type" jdbcType="VARCHAR" property="triggerType" />
    <result column="condition_handler" jdbcType="VARCHAR" property="conditionHandler" />
    <result column="third_invoke_type" jdbcType="VARCHAR" property="thirdInvokeType" />
    <result column="third_type" jdbcType="VARCHAR" property="thirdType" />
    <result column="app_code" jdbcType="VARCHAR" property="appCode" />
    <result column="third_url" jdbcType="VARCHAR" property="thirdUrl" />
    <result column="third_start_method" jdbcType="VARCHAR" property="thirdStartMethod" />
    <result column="third_end_method" jdbcType="VARCHAR" property="thirdEndMethod" />
    <result column="point_access" jdbcType="VARCHAR" property="pointAccess" />
    <result column="sequence" jdbcType="INTEGER" property="sequence" />
    <result column="cancel_flag" jdbcType="INTEGER" property="cancelFlag" />
    <result column="cancel_id" jdbcType="INTEGER" property="cancelId" />
    <result column="cancel_type" jdbcType="VARCHAR" property="cancelType" />
    <result column="date_chg" jdbcType="VARCHAR" property="dateChg" />
    <result column="group_id" jdbcType="VARCHAR" property="groupId" />
    <result column="loop_exec" jdbcType="VARCHAR" property="loopExec" />
    <result column="priority" jdbcType="INTEGER" property="priority" />
    <result column="task_status" jdbcType="VARCHAR" property="taskStatus"/>
    <result column="end_remark" jdbcType="VARCHAR" property="endRemark"/>
    <result column="worker_task_code" jdbcType="VARCHAR" property="workerTaskCode"/>
    <result column="area_code" jdbcType="VARCHAR" property="areaCode"/>
    <result column="sub_task_biz_prop" jdbcType="VARCHAR" property="subTaskBizProp"/>
    <result column="robot_code" jdbcType="VARCHAR" property="robotCode"/>
    <result column="pod_code" jdbcType="VARCHAR" property="podCode"/>
    <result column="map_code" jdbcType="VARCHAR" property="mapCode"/>


  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, sub_task_num, sub_task_typ, sub_task_seq, main_task_num, main_task_seq, main_task_type, 
    group_flag, task_group_code, create_date, task_msg, send_status, remark, need_confirm, 
    need_inform, need_trigger, trigger_type, condition_handler, third_invoke_type, third_type, 
    app_code, third_url, third_start_method, third_end_method, point_access, sequence,
    cancel_flag, cancel_id, cancel_type, date_chg, group_id, loop_exec, priority,task_status,end_remark,
    worker_task_code,area_code,sub_task_biz_prop, robot_code,pod_code,map_code
  </sql>
  <select id="selectPage" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from ts_sub_task
     where 1=1
    <if test="searchKey != null and searchKey != ''">
      and 1=1
    </if>
    <if test="startTime != null">
      and create_date &gt;= #{startTime,jdbcType=BIGINT}
    </if>
    <if test="endTime != null">
      and create_date &lt;= #{endTime,jdbcType=BIGINT}
    </if>
    <if test="subTaskNum != null and subTaskNum != ''">
      and sub_task_num = #{subTaskNum}
    </if>
    <if test="subTaskTyp != null and subTaskTyp != ''">
      and sub_task_typ = #{subTaskTyp}
    </if>
    <if test="mainTaskNum != null and mainTaskNum != ''">
      and main_task_num = #{mainTaskNum}
    </if>
    <if test="mainTaskType != null and mainTaskType != ''">
      and main_task_type = #{mainTaskType}
    </if>

    <if test="sendStatus != null and sendStatus != ''">
      and send_status = #{sendStatus}
    </if>
    <if test="taskStatus != null and taskStatus != ''">
      and task_status = #{taskStatus}
    </if>
    <if test="mapCode != null and mapCode != ''">
      and map_code = #{mapCode}
    </if>
    <if test="podCode != null and podCode != ''">
      and pod_code = #{podCode}
    </if>
    <if test="startBercode != null and startBercode != ''">
      and start_bercode = #{startBercode}
    </if>
    <if test="endBercode != null and endBercode != ''">
      and end_bercode = #{endBercode}
    </if>

    <if test="areaCode != null and areaCode != ''">
      and area_code = #{areaCode}
    </if>
    <if test="subTaskBizProp != null and subTaskBizProp != ''">
      and sub_task_biz_prop = #{subTaskBizProp}
    </if>
  </select>
    <select id="selectByMainTaskNum" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ts_sub_task
        where main_task_num = #{mainTaskNum,jdbcType= VARCHAR}
        order by sub_task_seq ASC
    </select>

    <select id="selectBySubTaskNum" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ts_sub_task
        where sub_task_num = #{subTaskNum}
        LIMIT 1
    </select>
  <update id="updateSendStatus">
    update ts_sub_task
    <set>
        <if test="status != null and status != ''">
          send_status = #{status}
        </if>
    </set>
    where sub_task_num = #{subTaskNum}
  </update>
  <update id="updatePodCodeBySubTaskCode">
    update ts_sub_task
    <set>
          pod_code = #{podCode}
    </set>
    where sub_task_num = #{subTaskNum}
  </update>
  <update id="updateEndCodeBySubTaskCode">
    update ts_sub_task
    <set>
      end_bercode = #{baseMapBerth.berCode},
      end_x = #{baseMapBerth.coox},
      end_y = #{baseMapBerth.cooy}
    </set>
    where sub_task_num = #{subTaskNum}
  </update>


  <update id="updatePriority">
    update ts_sub_task
    <set>
      priority = #{priority}
    </set>
    where sub_task_num = #{subTaskNum}
  </update>
  <update id="updateRobotCodeByBerCode">
    update ts_sub_task
    <set>
      robot_code = #{robotCode}
    </set>
    where worker_task_code = #{taskCode}
  </update>

  <select id="selectByTaskCode" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from ts_sub_task
    where worker_task_code = #{taskCode}
    LIMIT 1
  </select>

  <update id="updatePodAndBerBySubTaskCode">
    update ts_sub_task
    <set>
      pod_code = #{podCode},
      start_bercode = #{berCode}
    </set>
    where sub_task_num = #{subTaskNum}
  </update>

</mapper>