<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdom.iwcs.mapper.task.SubTaskMapper">
  <resultMap id="BaseResultMap" type="com.wisdom.iwcs.domain.task.SubTask">
    <!--
      WARNING - @mbg.generated
    -->
      <id property="id" jdbcType="BIGINT" column="id"/>

      <result property="subTaskNum" jdbcType="VARCHAR" column="sub_task_num"/>

      <result property="subTaskTyp" jdbcType="VARCHAR" column="sub_task_typ"/>

      <result property="subTaskSeq" jdbcType="INTEGER" column="sub_task_seq"/>

      <result property="mainTaskNum" jdbcType="VARCHAR" column="main_task_num"/>

      <result property="mainTaskSeq" jdbcType="INTEGER" column="main_task_seq"/>

      <result property="mainTaskType" jdbcType="VARCHAR" column="main_task_type"/>

      <result property="groupFlag" jdbcType="VARCHAR" column="group_flag"/>

      <result property="taskGroupCode" jdbcType="VARCHAR" column="task_group_code"/>

      <result property="createDate" jdbcType="TIMESTAMP" column="create_date"/>

      <result property="taskMsg" jdbcType="VARCHAR" column="task_msg"/>

      <result property="sendStatus" jdbcType="VARCHAR" column="send_status"/>

      <result property="remark" jdbcType="VARCHAR" column="remark"/>

      <result property="needConfirm" jdbcType="VARCHAR" column="need_confirm"/>

      <result property="needInform" jdbcType="VARCHAR" column="need_inform"/>

      <result property="needTrigger" jdbcType="VARCHAR" column="need_trigger"/>

      <result property="triggerType" jdbcType="VARCHAR" column="trigger_type"/>

      <result property="conditionHandler" jdbcType="VARCHAR" column="condition_handler"/>

      <result property="thirdInvokeType" jdbcType="VARCHAR" column="third_invoke_type"/>

      <result property="thirdType" jdbcType="VARCHAR" column="third_type"/>

      <result property="appCode" jdbcType="VARCHAR" column="app_code"/>

      <result property="thirdUrl" jdbcType="VARCHAR" column="third_url"/>

      <result property="thirdStartMethod" jdbcType="VARCHAR" column="third_start_method"/>

      <result property="thirdEndMethod" jdbcType="VARCHAR" column="third_end_method"/>

      <result property="pointAccess" jdbcType="VARCHAR" column="point_access"/>

      <result property="sequence" jdbcType="INTEGER" column="sequence"/>

      <result property="cancelFlag" jdbcType="INTEGER" column="cancel_flag"/>

      <result property="cancelId" jdbcType="INTEGER" column="cancel_id"/>

      <result property="cancelType" jdbcType="VARCHAR" column="cancel_type"/>

      <result property="dateChg" jdbcType="VARCHAR" column="date_chg"/>

      <result property="groupId" jdbcType="VARCHAR" column="group_id"/>

      <result property="loopExec" jdbcType="VARCHAR" column="loop_exec"/>

      <result property="priority" jdbcType="INTEGER" column="priority"/>

      <result property="taskStatus" jdbcType="VARCHAR" column="task_status"/>

      <result property="mapCode" jdbcType="VARCHAR" column="map_code"/>

      <result property="podCode" jdbcType="VARCHAR" column="pod_code"/>

      <result property="podDir" jdbcType="VARCHAR" column="pod_dir"/>

      <result property="startBercode" jdbcType="VARCHAR" column="start_bercode"/>

      <result property="startX" jdbcType="DECIMAL" column="start_x"/>

      <result property="startY" jdbcType="DECIMAL" column="start_y"/>

      <result property="endBercode" jdbcType="VARCHAR" column="end_bercode"/>

      <result property="endX" jdbcType="DECIMAL" column="end_x"/>

      <result property="endY" jdbcType="DECIMAL" column="end_y"/>

      <result property="endRemark" jdbcType="VARCHAR" column="end_remark"/>

      <result property="workerTaskCode" jdbcType="VARCHAR" column="worker_task_code"/>

      <result property="areaCode" jdbcType="VARCHAR" column="area_code"/>

      <result property="subTaskBizProp" jdbcType="VARCHAR" column="sub_task_biz_prop"/>

      <result property="robotCode" jdbcType="VARCHAR" column="robot_code"/>
      <result column="work_task_status" jdbcType="VARCHAR" property="workTaskStatus"/>

      <result column="task_start_time" jdbcType="TIMESTAMP" property="taskStartTime"/>
      <result column="task_leave_time" jdbcType="TIMESTAMP" property="taskLeaveTime"/>
      <result column="task_end_time" jdbcType="TIMESTAMP" property="taskEndTime"/>

      <result column="send_time" jdbcType="TIMESTAMP" property="sendTime"/>

    <result column="end_alias" jdbcType="VARCHAR" property="endAlias"/>
    <result column="start_alias" jdbcType="VARCHAR" property="startAlias"/>
    <result column="start_bercode_auto" jdbcType="VARCHAR" property="startBercodeAuto"/>
    <result column="end_bercode_auto" jdbcType="VARCHAR" property="endBercodeAuto"/>
    <result column="end_map_code" jdbcType="VARCHAR" property="endMapCode"/>
    <result column="templ_code" jdbcType="VARCHAR" property="templCode"/>
    <result column="json_data" jdbcType="VARCHAR" property="jsonData"/>



  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
      id, sub_task_num, sub_task_typ, sub_task_seq, main_task_num, main_task_seq, main_task_type, group_flag,
      task_group_code, create_date, task_msg, send_status, remark, need_confirm, need_inform, need_trigger,
      trigger_type, condition_handler, third_invoke_type, third_type, app_code, third_url, third_start_method,
      third_end_method, point_access, sequence, cancel_flag, cancel_id, cancel_type, date_chg, group_id, loop_exec,
      priority, task_status, map_code, pod_code, pod_dir, start_bercode, start_x, start_y, end_bercode, end_x, end_y,
      end_remark, worker_task_code, area_code, sub_task_biz_prop, robot_code, work_task_status, task_start_time,
    task_leave_time, task_end_time, send_time,start_alias,end_alias, start_bercode_auto, end_bercode_auto,templ_code,
      task_leave_time, task_end_time, send_time,start_alias,end_alias, start_bercode_auto, end_bercode_auto,
      end_map_code, json_data
  </sql>
  <select id="selectPage" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from ts_sub_task
     where 1=1
    <if test="searchKey != null and searchKey != ''">
      and 1=1
    </if>
    <if test="startTime != null">
      and UNIX_TIMESTAMP(create_date) >= (#{startTime, jdbcType=BIGINT} / 1000) + 8 * 60 * 60
    </if>
    <if test="endTime != null">
      and UNIX_TIMESTAMP(create_date) &lt;= (#{endTime, jdbcType=BIGINT} / 1000) + 8 * 60 * 60
    </if>
    <if test="subTaskNum != null and subTaskNum != ''">
      and sub_task_num = #{subTaskNum}
    </if>
    <if test="subTaskType != null and subTaskType != ''">
      and sub_task_typ = #{subTaskType}
    </if>
    <if test="mainTaskNum != null and mainTaskNum != ''">
      and main_task_num = #{mainTaskNum}
    </if>
    <if test="mainTaskType != null and mainTaskType != ''">
      and main_task_type = #{mainTaskType}
    </if>

    <if test="sendStatus != null and sendStatus != ''">
      and send_status = #{sendStatus}
    </if>
    <if test="taskStatus != null and taskStatus != ''">
      and task_status = #{taskStatus}
    </if>
    <if test="mapCode != null and mapCode != ''">
      and map_code = #{mapCode}
    </if>
    <if test="podCode != null and podCode != ''">
      and pod_code = #{podCode}
    </if>
    <if test="startBercode != null and startBercode != ''">
      and start_bercode = #{startBercode}
    </if>
    <if test="endBercode != null and endBercode != ''">
      and end_bercode = #{endBercode}
    </if>

    <if test="areaCode != null and areaCode != ''">
      and area_code = #{areaCode}
    </if>
    <if test="subTaskBizProp != null and subTaskBizProp != ''">
      and sub_task_biz_prop = #{subTaskBizProp}
    </if>
    <if test="templCode != null and templCode != ''">
      and templ_code = #{templCode}
    </if>
    order by create_date desc, task_status asc
  </select>
    <select id="selectByMainTaskNum" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ts_sub_task
        where main_task_num = #{mainTaskNum,jdbcType= VARCHAR}
        order by sub_task_seq ASC
    </select>

    <select id="selectBySubTaskNum" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ts_sub_task
        where sub_task_num = #{subTaskNum}
        LIMIT 1
    </select>
  <update id="updateSendStatus">
    update ts_sub_task
    <set>
        <if test="status != null and status != ''">
          send_status = #{status}
        </if>
    </set>
    where sub_task_num = #{subTaskNum}
  </update>
  <update id="updatePodCodeBySubTaskCode">
    update ts_sub_task
    <set>
          pod_code = '',
        start_bercode = ''
    </set>
    where sub_task_num = #{subTaskNum}
  </update>
  <update id="updateEndCodeBySubTaskCode">
    update ts_sub_task tst, base_map_berth bmb
    <set>
      tst.end_bercode = #{baseMapBerth.berCode},
      tst.end_x = #{baseMapBerth.coox},
      tst.end_y = #{baseMapBerth.cooy},
        <if test="baseMapBerth.berCode != null and baseMapBerth.berCode != ''">
            tst.end_alias = bmb.point_alias
        </if>
    </set>
    where tst.sub_task_num = #{subTaskNum}
      <if test="baseMapBerth.berCode != null and baseMapBerth.berCode != ''">
          and  bmb.ber_code = #{baseMapBerth.berCode}
      </if>
  </update>


  <update id="updatePriority">
    update ts_sub_task set priority = #{priority} where sub_task_num in
    <foreach collection="subTaskList" index="index" item="item" open="(" close=")" separator=",">
      #{item}
    </foreach>
  </update>
  <update id="updateRobotCodeByBerCode">
    update ts_sub_task
    <set>
      worker_task_code = #{workerTaskCode},
      <if test="robotCode != null and robotCode != ''">
        robot_code = #{robotCode},
      </if>
      <if test="taskStartTime != null">
        task_start_time = #{taskStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="taskLeaveTime != null">
        task_leave_time = #{taskLeaveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="taskEndTime != null">
        task_end_time = #{taskEndTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where worker_task_code = #{workerTaskCode}
  </update>

  <update id="updateTimeBySubTaskNum">
    update ts_sub_task
    <set>
      work_task_status = #{workTaskStatus},
      <if test="robotCode != null and robotCode != ''">
        robot_code = #{robotCode},
      </if>
      <if test="taskStartTime != null">
        task_start_time = #{taskStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="taskLeaveTime != null">
        task_leave_time = #{taskLeaveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="taskEndTime != null">
        task_end_time = #{taskEndTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where sub_task_num = #{subTaskNum}
  </update>
  <update id="updateTimeByTaskNumAndStatus">
    update ts_sub_task
    <set>
      work_task_status = #{subTask.workTaskStatus},
      <if test="subTask.robotCode != null and subTask.robotCode != ''">
        robot_code = #{subTask.robotCode},
      </if>
      <if test="subTask.taskStartTime != null">
        task_start_time = #{subTask.taskStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="subTask.taskLeaveTime != null">
        task_leave_time = #{subTask.taskLeaveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="subTask.taskEndTime != null">
        task_end_time = #{subTask.taskEndTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where sub_task_num = #{subTask.subTaskNum}
    and work_task_status = #{currentStatus}
  </update>

  <select id="selectByTaskCode" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from ts_sub_task
    where worker_task_code = #{taskCode}
    order by id desc
    LIMIT 1
  </select>
  <select id="selectAllByTaskCode" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from ts_sub_task
    where worker_task_code = #{taskCode}
    order by sub_task_seq ASC
  </select>

  <update id="updatePodAndBerBySubTaskCode">
    update ts_sub_task tst, base_map_berth bmb
    <set>
      tst.pod_code = #{podCode},
      tst.start_bercode = #{berCode},
      tst.start_alias = bmb.point_alias
    </set>
    where tst.sub_task_num = #{subTaskNum}
    and bmb.ber_code = #{berCode}
  </update>

  <update id="updateTaskStatusByNum">
    update ts_sub_task
    <set>
      task_status = #{statusCode},
      date_chg = NOW()
    </set>
    where sub_task_num = #{subTaskNum}
  </update>

  <update id="updateByMainTaskNumAndSubTaskType">
    update ts_sub_task
    <set>
      pod_code = #{podCode},
      start_bercode = #{startBercode}
    </set>
    where main_task_num = #{mainTaskNum,jdbcType= VARCHAR}
    and sub_task_typ = #{subTaskTypeCode}
  </update>

  <select id="selectUnusualTask" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from ts_sub_task
    where work_task_status != #{endStatus}
    and send_time is not null
    and send_time &lt;= DATE_SUB(NOW(),INTERVAL 5 MINUTE)
  </select>

  <select id="selectByTaskStatus" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from ts_sub_task
    where task_status != #{taskStatus}
    and send_time is not null
    and send_time &lt;= DATE_SUB(NOW(),INTERVAL 5 MINUTE)
  </select>

  <update id="updateJsonData">
    update ts_sub_task
    <set>
      json_data = #{jsonData}
    </set>
    where sub_task_num = #{subTaskNum}
  </update>
  <select id="selectUnStartSubTaskCount" resultType="java.lang.Integer">
        select count(*) from ts_sub_task where task_status = '0' or task_status = 0
  </select>
  <select id="selectStartSubTaskCount" resultType="java.lang.Integer">
        select count(*) from ts_sub_task where task_status = '1' or task_status = 1
  </select>
  <select id="selectEndSubTaskCount" resultType="java.lang.Integer">
        select count(*) from ts_sub_task where task_status = '9' or task_status = 9
  </select>

  <select id="getViewData" resultType="com.wisdom.iwcs.domain.system.ViewData">
      select COUNT(DISTINCT id) AS dateList,
      FROM_UNIXTIME(UNIX_TIMESTAMP(create_date)-(UNIX_TIMESTAMP(create_date)%(60*60)),'%Y-%m-%d %H:%i:%s') as hours
      FROM ts_sub_task WHERE task_status = 9 or task_status = '9'
      GROUP BY FROM_UNIXTIME(UNIX_TIMESTAMP(create_date)-(UNIX_TIMESTAMP(create_date)%(60*60)),'%Y-%m-%d %H:%i:%s');
  </select>

  <select id="getSubStartViewData" resultType="com.wisdom.iwcs.domain.system.ViewData">
      select COUNT(DISTINCT id) AS dateList,
      FROM_UNIXTIME(UNIX_TIMESTAMP(create_date)-(UNIX_TIMESTAMP(create_date)%(60*60)),'%Y-%m-%d %H:%i:%s') as hours
      FROM ts_sub_task WHERE task_status = 1 or task_status = '1'
      GROUP BY FROM_UNIXTIME(UNIX_TIMESTAMP(create_date)-(UNIX_TIMESTAMP(create_date)%(60*60)),'%Y-%m-%d %H:%i:%s');
  </select>

  <update id="updateInitById">
    update ts_sub_task
    <set>
      send_status = '0',
      task_status = '0',
      robot_code = #{robotCode},
      work_task_status = '0',
      worker_task_code = #{newWorkTaskNum}
    </set>
    where id in
    <foreach collection="list" item="id" open="(" close=")" separator=",">
      #{id}
    </foreach>
  </update>
</mapper>
