<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdom.iwcs.mapper.task.TaskRelConditionMapper">
    <resultMap id="BaseResultMap" type="com.wisdom.iwcs.domain.task.TaskRelCondition">
        <!--
            WARNING - @mbg.generated
         -->
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="templ_code" jdbcType="VARCHAR" property="templCode" />
        <result column="main_task_type_code" jdbcType="VARCHAR" property="mainTaskTypeCode" />
        <result column="sub_task_type_code" jdbcType="VARCHAR" property="subTaskTypeCode" />
        <result column="conditon_handler" jdbcType="VARCHAR" property="conditonHandler" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="point_access" jdbcType="VARCHAR" property="pointAccess" />
        <result column="date_chg" jdbcType="VARCHAR" property="dateChg" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="conditon_triger" jdbcType="VARCHAR" property="conditonTriger" />
        <result column="subscribe_event" jdbcType="VARCHAR" property="subscribeEvent" />
        <result column="sub_task_seq" jdbcType="INTEGER" property="subTaskSeq" />
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        id, templ_code, main_task_type_code, sub_task_type_code, conditon_handler, create_date,
        point_access, date_chg, remark, conditon_triger, subscribe_event, sub_task_seq
    </sql>
    <select id="selectPage" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from ts_task_rel_condition
        where 1=1
        <if test="searchKey != null and searchKey != ''">
            and 1=1
        </if>
        <if test="startTime != null">
            and created_time &gt;= #{startTime,jdbcType=BIGINT}
        </if>
        <if test="endTime != null">``
            and created_time &lt;= #{endTime,jdbcType=BIGINT}
        </if>
        order by last_modified_time desc
    </select>

    <select id="selectBySubCode" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from ts_task_rel_condition
        where sub_task_type_code = #{subTaskTypeCode}
        LIMIT 1
    </select>

    <select id="selectByMainTaskTypeCodeAndSubCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ts_task_rel_condition
        where main_task_type_code = #{mainTaskTypeCode,jdbcType=VARCHAR} and
        sub_task_type_code = #{subTaskTypeCode}
    </select>
</mapper>