<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdom.iwcs.mapper.task.TaskRelMapper">
  <resultMap id="BaseResultMap" type="com.wisdom.iwcs.domain.task.TaskRel">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="templ_code" jdbcType="VARCHAR" property="templCode" />
    <result column="main_task_type_code" jdbcType="VARCHAR" property="mainTaskTypeCode" />
    <result column="main_task_seq" jdbcType="INTEGER" property="mainTaskSeq" />
    <result column="sub_task_type_code" jdbcType="VARCHAR" property="subTaskTypeCode" />
    <result column="task_group_item_id" jdbcType="VARCHAR" property="taskGroupItemId" />
    <result column="task_group_code" jdbcType="VARCHAR" property="taskGroupCode" />
    <result column="sub_task_seq" jdbcType="INTEGER" property="subTaskSeq" />
    <result column="group_seq" jdbcType="INTEGER" property="groupSeq" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="need_confirm" jdbcType="VARCHAR" property="needConfirm" />
    <result column="need_inform" jdbcType="VARCHAR" property="needInform" />
    <result column="need_trigger" jdbcType="VARCHAR" property="needTrigger" />
    <result column="trigger_type" jdbcType="VARCHAR" property="triggerType" />
    <result column="condition_handler" jdbcType="VARCHAR" property="conditionHandler" />
    <result column="third_invoke_type" jdbcType="VARCHAR" property="thirdInvokeType" />
    <result column="third_type" jdbcType="VARCHAR" property="thirdType" />
    <result column="app_code" jdbcType="VARCHAR" property="appCode" />
    <result column="third_url" jdbcType="VARCHAR" property="thirdUrl" />
    <result column="third_start_method" jdbcType="VARCHAR" property="thirdStartMethod" />
    <result column="third_end_method" jdbcType="VARCHAR" property="thirdEndMethod" />
    <result column="point_access" jdbcType="VARCHAR" property="pointAccess" />
    <result column="outflow" jdbcType="VARCHAR" property="outflow" />
    <result column="action_type" jdbcType="VARCHAR" property="actionType" />
    <result column="start_point_access" jdbcType="VARCHAR" property="startPointAccess" />
    <result column="start_point_access_value" jdbcType="VARCHAR" property="startPointAccessValue" />
    <result column="pod_access" jdbcType="VARCHAR" property="podAccess" />
    <result column="pod_access_value" jdbcType="VARCHAR" property="podAccessValue" />
    <result column="end_point_access" jdbcType="VARCHAR" property="endPointAccess" />
    <result column="end_point_access_value" jdbcType="VARCHAR" property="endPointAccessValue" />
    <result column="robot_access" jdbcType="VARCHAR" property="robotAccess" />
    <result column="robot_access_value" jdbcType="VARCHAR" property="robotAccessValue" />
    <result column="worker_task_code_access" jdbcType="VARCHAR" property="workerTaskCodeAccess" />
    <result column="worker_task_code_access_value" jdbcType="VARCHAR" property="workerTaskCodeAccessValue" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, templ_code, main_task_type_code, main_task_seq, sub_task_type_code, task_group_item_id, 
    task_group_code, sub_task_seq, group_seq, create_date, remark, need_confirm, need_inform, 
    need_trigger, trigger_type, condition_handler, third_invoke_type, third_type, app_code,
      third_url, third_start_method, third_end_method, point_access,outflow, action_type,
    start_point_access, start_point_access_value, pod_access, pod_access_value, end_point_access,
    end_point_access_value, robot_access, robot_access_value, worker_task_code_access,
    worker_task_code_access_value
  </sql>
  <select id="selectPage" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from ts_task_rel
     where 1=1
    <if test="searchKey != null and searchKey != ''">
      and 1=1
    </if>
    <if test="startTime != null">
      and created_time &gt;= #{startTime,jdbcType=BIGINT}
    </if>
    <if test="endTime != null">
      and created_time &lt;= #{endTime,jdbcType=BIGINT}
    </if>
    order by last_modified_time desc
  </select>
    <select id="selectByMainTaskType" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from ts_task_rel
      where main_task_type_code = #{mainTaskTypeCode,jdbcType=VARCHAR}
    </select>

  <select id="selectByTemplCode" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from ts_task_rel
    where templ_code = #{templateCode}
  </select>


  <select id="selectPageByGroup" resultType="com.wisdom.iwcs.domain.task.TaskModal">
    select m.id as id, m.main_task_type_code as mainTaskCode,sub.sub_task_typ_code as subTaskCode,
     m.main_task_type_name as mainTaskName, sub.sub_task_typ_name as subTaskName, t.templ_code as templCode
     from ts_main_task_type as m left join ts_task_rel as t
    on m.main_task_type_code = t.main_task_type_code left join ts_sub_task_typ as sub
    on t.sub_task_type_code = sub.sub_task_typ_code
  </select>

  <select id="selectByMainCode" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from ts_task_rel where main_task_type_code = #{mainCode}
  </select>
  <select id="selectBySubCode" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from ts_task_rel where
    sub_task_type_code = #{searchSubCode} and  main_task_type_code = #{searchMainCode}
  </select>

  <select id="selectDataByTemplCode" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from ts_task_rel where templ_code = #{templCode}
  </select>

  <select id="selectSubCodeByTemplCode" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from ts_task_rel where templ_code in
    <foreach collection="templCodeList" index="index" item="item" open="(" close=")" separator=",">
      #{item}
    </foreach>
  </select>

    <select id="selectSubMainByMainCode" resultType="com.wisdom.iwcs.domain.task.TaskRelSubMain">
        select
        r.id as id,
        s.sub_task_typ_name as subTaskTypName,
        r.templ_code as templCode,
        r.outflow as outflow,
        r.main_task_type_code as mainTaskTypeCode,
        r.sub_task_type_code as subTaskTypeCode,
        r.sub_task_seq as subTaskSeq
        from ts_task_rel as r left join ts_sub_task_typ as s
        on r.sub_task_type_code = s.sub_task_typ_code
        where r.main_task_type_code = #{mainCode}
        order by r.sub_task_seq asc
    </select>

  <update id="updateTaskByTemplCode">
    update ts_task_rel set sub_task_seq = #{subTaskSeq} where templ_code = #{templCode}
  </update>

  <delete id="deleteByTemplCode">
    delete from ts_task_rel where templ_code = #{templCode}
  </delete>

    <delete id="deleteByTemplCodes">
    delete from ts_task_rel where templ_code in
    <foreach collection="templCodeList" index="index" item="item" open="(" close=")" separator=",">
        #{item}
    </foreach>
  </delete>

    <select id="selectSubTaskTypeByCode" resultType="com.wisdom.iwcs.domain.task.TaskRelSubMain">
        select
        r.id as id,
        s.sub_task_typ_name as subTaskTypName,
        r.templ_code as templCode,
        r.main_task_type_code as mainTaskTypeCode,
        r.sub_task_type_code as subTaskTypeCode,
        r.sub_task_seq as subTaskSeq
        from ts_task_rel as r left join ts_sub_task_typ as s
        on r.sub_task_type_code = s.sub_task_typ_code
        where r.main_task_type_code = #{mainTaskTypeCode} and r.sub_task_type_code != #{subTaskTypeCode}
    </select>
</mapper>