<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdom.iwcs.mapper.outstock.OrderActionConfigMapper">
    <resultMap id="BaseResultMap" type="com.wisdom.iwcs.domain.outstock.OrderActionConfig">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="config_code" jdbcType="VARCHAR" property="configCode"/>
        <result column="config_type" jdbcType="VARCHAR" property="configType"/>
        <result column="config_prop1" jdbcType="VARCHAR" property="configProp1"/>
        <result column="config_prop2" jdbcType="VARCHAR" property="configProp2"/>
        <result column="config_prop3" jdbcType="VARCHAR" property="configProp3"/>
        <result column="config_prop4" jdbcType="VARCHAR" property="configProp4"/>
        <result column="config_prop5" jdbcType="VARCHAR" property="configProp5"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="last_modified_time" jdbcType="TIMESTAMP" property="lastModifiedTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        id, config_code, config_type, config_prop1, config_prop2, config_prop3, config_prop4,
        config_prop5, created_time, last_modified_time
    </sql>
    <select id="selectPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from outstock_order_action_config
        where 1=1
        <if test="searchKey != null and searchKey != ''">
            and 1=1
        </if>
        <if test="startTime != null">
            and created_time &gt;= #{startTime,jdbcType=BIGINT}
        </if>
        <if test="endTime != null">
            and created_time &lt;= #{endTime,jdbcType=BIGINT}
        </if>
        order by last_modified_time desc
    </select>

    <select id="selectByConfigCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from outstock_order_action_config
        where config_code = #{configCode}
    </select>
    <update id="updateList">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update outstock_order_action_config
            <set>
                config_code = #{item.configCode}, config_type = #{item.configType}, config_prop1 = #{item.configProp1},
                config_prop2 = #{item.configProp2}, config_prop3 = #{item.configProp3}, config_prop4 =
                #{item.configProp4}, config_prop5 = #{item.configProp5}, last_modified_time = #{item.lastModifiedTime}
            </set>
            where id = #{item.id}
        </foreach>
    </update>
</mapper>