<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdom.iwcs.mapper.outstock.OutstockRecordDetailMapper">
    <resultMap id="BaseResultMap" type="com.wisdom.iwcs.domain.outstock.OutstockRecordDetail">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="outstock_record_id" jdbcType="INTEGER" property="outstockRecordId"/>
        <result column="stk_code" jdbcType="VARCHAR" property="stkCode"/>
        <result column="bincode" jdbcType="VARCHAR" property="bincode"/>
        <result column="sn" jdbcType="VARCHAR" property="sn"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        id, outstock_record_id, stk_code, bincode, sn
    </sql>
    <select id="selectPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from outstock_record_detail
        where 1=1
        <if test="searchKey != null and searchKey != ''">
            and 1=1
        </if>
        <if test="startTime != null">
            and created_time &gt;= #{startTime,jdbcType=BIGINT}
        </if>
        <if test="endTime != null">
            and created_time &lt;= #{endTime,jdbcType=BIGINT}
        </if>
        order by last_modified_time desc
    </select>
    <select id="selectOutstockRecordDetailById" resultType="com.wisdom.iwcs.domain.outstock.OutstockRecordDetail"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from outstock_record_detail
        where 1=1
        AND outstock_record_id = #{outstockRecordId}
    </select>
</mapper>
