<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdom.iwcs.mapper.linebody.LineMsgLogMapper">
  <resultMap id="BaseResultMap" type="com.wisdom.iwcs.domain.linebody.LineMsgLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="msg_type" jdbcType="VARCHAR" property="msgType" />
    <result column="msg_time" jdbcType="TIMESTAMP" property="msgTime" />
    <result column="req_code" jdbcType="VARCHAR" property="reqCode" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="msg_body" jdbcType="VARCHAR" property="msgBody" />
    <result column="send_addr" jdbcType="VARCHAR" property="sendAddr" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, msg_type, msg_time, req_code, created_time, msg_body, send_addr
  </sql>
  <select id="selectPage" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from line_msg_log
     where 1=1
    <if test="searchKey != null and searchKey != ''">
      and 1=1
    </if>
    <if test="startTime != null">
      and created_time &gt;= #{startTime,jdbcType=BIGINT}
    </if>
    <if test="endTime != null">
      and created_time &lt;= #{endTime,jdbcType=BIGINT}
    </if>
    <if test="msgType != null and msgType != ''">
      and msg_type = #{msgType}
    </if>
    <if test="reqCode != null and reqCode != ''">
      and req_code = #{reqCode}
    </if>
    order by msg_time desc
  </select>
</mapper>