<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdom.iwcs.mapper.door.AutoDoorMapper">
  <resultMap id="BaseResultMap" type="com.wisdom.iwcs.domain.door.AutoDoor">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="msg_code" jdbcType="VARCHAR" property="msgCode" />
    <result column="door_code" jdbcType="VARCHAR" property="doorCode" />
    <result column="door_status" jdbcType="VARCHAR" property="doorStatus" />
    <result column="status_update_time" jdbcType="TIMESTAMP" property="statusUpdateTime" />
    <result column="door_model" jdbcType="VARCHAR" property="doorModel" />
    <result column="task_status" jdbcType="VARCHAR" property="taskStatus" />
    <result column="door_task_update_time" jdbcType="TIMESTAMP" property="doorTaskUpdateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, msg_code, door_code, door_status, status_update_time, door_model, task_status, door_task_update_time
  </sql>
  <select id="selectPage" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from auto_door
     where 1=1
    <if test="searchKey != null and searchKey != ''">
      and 1=1
    </if>
    order by status_update_time desc
  </select>
    <select id="selectDoorStatus" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from auto_door
        where door_code = #{doorCode,jdbcType=VARCHAR}
    </select>
    <update id="updateDoorInfo">
        update auto_door
        <set>
            <if test="doorStatus != null and doorStatus != ''">
                door_status = #{doorStatus,jdbcType=VARCHAR},
            </if>
            <if test="doorModel != null and doorModel != ''">
                door_model = #{doorModel,jdbcType=VARCHAR},
            </if>
            <if test="taskStatus != null and taskStatus != ''">
                task_status = #{taskStatus,jdbcType=VARCHAR},
            </if>
            <if test="statusUpdateTime != null">
                status_update_time = #{statusUpdateTime,jdbcType=BIGINT},
            </if>
            <if test="doorTaskUpdateTime != null">
                door_task_update_time = #{doorTaskUpdateTime,jdbcType=BIGINT},
            </if>
        </set>
        where msg_code = #{msgCode}
    </update>

    <select id="getNormalNum" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from auto_door
        <if test="doorStatus == 1">
            where door_status = 1
        </if>
        <if test="doorStatus != 1">
            where door_status != 1
        </if>
    </select>

    <select id="selectDataByCode" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from auto_door
        where door_code = #{doorCode}
    </select>

    <update id="updateDoorModel">
        update auto_door
        <set>
        <if test="doorModel != null and doorModel != ''">
            door_model = #{doorModel,jdbcType=VARCHAR},
        </if>
        </set>
        where door_code = #{doorCode}
    </update>
</mapper>