<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdom.iwcs.mapper.codec.AreaMapper">
    <resultMap id="BaseResultMap" type="com.wisdom.iwcs.domain.codec.Area">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        <result column="area_level" jdbcType="INTEGER" property="areaLevel"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        id, code, name, parent_id, area_level
    </sql>
    <select id="selectByMap" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from codec_area
        where 1=1
        <if test="searchKey != null and searchKey != ''">
            and 1=1
        </if>
    </select>

    <select id="getAreaListByLevel" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from codec_area
        where area_level = #{level}
    </select>

    <select id="getAreaListByParentId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from codec_area
        where parent_id = #{parentId}
    </select>
</mapper>