<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdom.iwcs.mapper.elevator.ConnectionPointMapper">
    <resultMap id="BaseResultMap" type="com.wisdom.iwcs.domain.elevator.ConnectionPoint">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="coonnection_point_id" jdbcType="INTEGER" property="coonnectionPointId" />
        <result column="connection_point_code" jdbcType="VARCHAR" property="connectionPointCode" />
        <result column="elevator_code" jdbcType="INTEGER" property="elevatorCode" />
        <result column="wb_code" jdbcType="VARCHAR" property="wbCode" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="status" jdbcType="VARCHAR" property="status" />
        <result column="status_remark" jdbcType="VARCHAR" property="statusRemark" />
        <result column="status_update_time" jdbcType="TIMESTAMP" property="statusUpdateTime" />
        <result column="bercode" jdbcType="VARCHAR" property="bercode" />
        <result column="map_code" jdbcType="VARCHAR" property="mapCode" />
        <result column="wait_bercode" jdbcType="VARCHAR" property="waitBercode" />
        <result column="connection_point_type" jdbcType="VARCHAR" property="connectionPointType" />
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        coonnection_point_id, connection_point_code, elevator_code, wb_code, remark, status,
        status_remark, status_update_time, bercode, map_code, wait_bercode, connection_point_type
    </sql>
    <select id="selectPage" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from ele_connection_point
        where 1=1
        <if test="searchKey != null and searchKey != ''">
            and 1=1
        </if>
        <if test="startTime != null">
            and created_time &gt;= #{startTime,jdbcType=BIGINT}
        </if>
        <if test="endTime != null">
            and created_time &lt;= #{endTime,jdbcType=BIGINT}
        </if>
        order by last_modified_time desc
    </select>
</mapper>