<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdom.iwcs.mapper.elevator.CrossFloorTaskMapper">
    <resultMap id="BaseResultMap" type="com.wisdom.iwcs.domain.elevator.CrossFloorTask">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="podcode" jdbcType="VARCHAR" property="podcode" />
        <result column="pid" jdbcType="VARCHAR" property="pid" />
        <result column="source_wb_task_code" jdbcType="VARCHAR" property="sourceWbTaskCode" />
        <result column="pod_type" jdbcType="VARCHAR" property="podType" />
        <result column="elevator_work_type" jdbcType="VARCHAR" property="elevatorWorkType" />
        <result column="pod_floor" jdbcType="VARCHAR" property="podFloor" />
        <result column="source_floor" jdbcType="VARCHAR" property="sourceFloor" />
        <result column="dest_floor" jdbcType="VARCHAR" property="destFloor" />
        <result column="priority" jdbcType="INTEGER" property="priority" />
        <result column="elevator_code" jdbcType="VARCHAR" property="elevatorCode" />
        <result column="source_connection_point" jdbcType="VARCHAR" property="sourceConnectionPoint" />
        <result column="suggest_dest_connection_point" jdbcType="VARCHAR" property="suggestDestConnectionPoint" />
        <result column="dest_connection_point" jdbcType="VARCHAR" property="destConnectionPoint" />
        <result column="source_wb_code" jdbcType="VARCHAR" property="sourceWbCode" />
        <result column="dest_area_type" jdbcType="VARCHAR" property="destAreaType" />
        <result column="dest_storage" jdbcType="VARCHAR" property="destStorage" />
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
        <result column="last_modified_time" jdbcType="TIMESTAMP" property="lastModifiedTime" />
        <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag" />
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.wisdom.iwcs.domain.elevator.CrossFloorTask">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="cross_taskref" jdbcType="VARBINARY" property="crossTaskref" />
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        id, podcode, pid, source_wb_task_code, pod_type, elevator_work_type, pod_floor, source_floor,
        dest_floor, priority, elevator_code, source_connection_point, suggest_dest_connection_point,
        dest_connection_point, source_wb_code, dest_area_type, dest_storage, created_time,
        last_modified_time, delete_flag
    </sql>
    <sql id="Blob_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        cross_taskref
    </sql>
    <select id="selectPage" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from ele_cross_floor_task
        where 1=1
        <if test="searchKey != null and searchKey != ''">
            and 1=1
        </if>
        <if test="startTime != null">
            and created_time &gt;= #{startTime,jdbcType=BIGINT}
        </if>
        <if test="endTime != null">
            and created_time &lt;= #{endTime,jdbcType=BIGINT}
        </if>
        order by last_modified_time desc
    </select>


</mapper>