<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdom.iwcs.mapper.elevator.EleControlTaskMapper">
  <resultMap id="BaseResultMap" type="com.wisdom.iwcs.domain.task.EleControlTask">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ele_task_code" jdbcType="VARCHAR" property="eleTaskCode" />
    <result column="main_task_num" jdbcType="VARCHAR" property="mainTaskNum" />
    <result column="elevator_work_type" jdbcType="VARCHAR" property="elevatorWorkType" />
    <result column="source_floor" jdbcType="INTEGER" property="sourceFloor" />
    <result column="dest_floor" jdbcType="INTEGER" property="destFloor" />
    <result column="task_status" jdbcType="VARCHAR" property="taskStatus" />
    <result column="call_ele_arr_floor" jdbcType="VARCHAR" property="callEleArrFloor" />
    <result column="source_biz_notify" jdbcType="VARCHAR" property="sourceBizNotify" />
    <result column="wcs_notify_entry_source" jdbcType="VARCHAR" property="wcsNotifyEntrySource" />
    <result column="wcs_notify_entry_dest" jdbcType="VARCHAR" property="wcsNotifyEntryDest" />
    <result column="plc_notify_entry_source" jdbcType="VARCHAR" property="plcNotifyEntrySource" />
    <result column="plc_notify_entry_dest" jdbcType="VARCHAR" property="plcNotifyEntryDest" />
    <result column="agv_leave_source" jdbcType="VARCHAR" property="agvLeaveSource" />
    <result column="agv_leave_dest" jdbcType="VARCHAR" property="agvLeaveDest" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, ele_task_code, main_task_num, elevator_work_type, source_floor, dest_floor, task_status, 
    call_ele_arr_floor, source_biz_notify, wcs_notify_entry_source, wcs_notify_entry_dest, 
    plc_notify_entry_source, plc_notify_entry_dest, agv_leave_source, agv_leave_dest, 
    created_time
  </sql>
  <select id="selectPage" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from ele_control_task
     where 1=1
    <if test="searchKey != null and searchKey != ''">
      and 1=1
    </if>
    <if test="startTime != null">
      and created_time &gt;= #{startTime,jdbcType=BIGINT}
    </if>
    <if test="endTime != null">
      and created_time &lt;= #{endTime,jdbcType=BIGINT}
    </if>
    <if test="eleTaskCode != null and eleTaskCode != ''">
      and ele_task_code = #{eleTaskCode}
    </if>
    <if test="mainTaskNum != null and mainTaskNum != ''">
      and main_task_num = #{mainTaskNum}
    </if>
    <if test="elevatorWorkType != null and elevatorWorkType != ''">
      and elevator_work_type = #{mainTaskNum}
    </if>
    <if test="taskStatus != null and taskStatus != ''">
      and task_status = #{mainTaskNum}
    </if>
  </select>
    <select id="selectTaskInfo" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from ele_control_task where task_status != '9' and ele_task_code = #{eleTaskCode}
    </select>
    <update id="updateTaskInfo">
        update ele_control_task
        <set>
            <if test="mainTaskNum != null and mainTaskNum != ''">
                main_task_num = #{mainTaskNum,jdbcType=VARCHAR},
            </if>
            <if test="elevatorWorkType != null and elevatorWorkType != ''">
                elevator_work_type = #{elevatorWorkType,jdbcType=VARCHAR},
            </if>
            <if test="sourceFloor != null and sourceFloor != ''">
                source_floor = #{sourceFloor,jdbcType=INTEGER},
            </if>
            <if test="destFloor != null and destFloor != ''">
                dest_floor = #{destFloor,jdbcType=INTEGER},
            </if>
            <if test="taskStatus != null and taskStatus != ''">
                task_status = #{taskStatus,jdbcType=VARCHAR},
            </if>
            <if test="callEleArrFloor != null and callEleArrFloor != ''">
                call_ele_arr_floor = #{callEleArrFloor,jdbcType=VARCHAR},
            </if>
            <if test="wcsNotifyEntrySource != null and wcsNotifyEntrySource != ''">
                wcs_notify_entry_source = #{wcsNotifyEntrySource,jdbcType=VARCHAR},
            </if>
            <if test="wcsNotifyEntryDest != null and wcsNotifyEntryDest != ''">
                wcs_notify_entry_dest = #{wcsNotifyEntryDest,jdbcType=VARCHAR},
            </if>

        </set>
        where ele_task_code = #{eleTaskCode}
    </update>

    <select id="selectByMainTaskNum" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from ele_control_task
        where main_task_num = #{mainTaskNum}
    </select>
    
    <update id="updateByMainTaskNum">
        update ele_control_task
        <set>
            <if test="taskStatus != null and taskStatus != ''">
                task_status = #{taskStatus},
            </if>
        </set>
        where 1=1
        main_task_num = #{mainTaskNum}
    </update>
</mapper>