<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdom.iwcs.mapper.elevator.ElevatorMapper">
  <resultMap id="BaseResultMap" type="com.wisdom.iwcs.domain.elevator.Elevator">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="elevator_id" jdbcType="INTEGER" property="elevatorId" />
    <result column="elevator_code" jdbcType="VARCHAR" property="elevatorCode" />
    <result column="elevator_name" jdbcType="VARCHAR" property="elevatorName" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="ele_status" jdbcType="VARCHAR" property="eleStatus" />
    <result column="status_update_time" jdbcType="TIMESTAMP" property="statusUpdateTime" />
    <result column="ele_ip" jdbcType="VARCHAR" property="eleIp" />
    <result column="ele_task_status" jdbcType="VARCHAR" property="eleTaskStatus" />
    <result column="main_task_num" jdbcType="VARCHAR" property="mainTaskNum" />
    <result column="ele_task_code" jdbcType="VARCHAR" property="eleTaskCode" />
    <result column="ele_task_update_time" jdbcType="TIMESTAMP" property="eleTaskUpdateTime" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="current_floor" jdbcType="INTEGER" property="currentFloor" />
    <result column="floor_update_time" jdbcType="TIMESTAMP" property="floorUpdateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    elevator_id, elevator_code, elevator_name, remark, ele_status, status_update_time, 
    ele_ip, ele_task_status, main_task_num, ele_task_code, ele_task_update_time, version, 
    current_floor, floor_update_time
  </sql>
  <select id="selectPage" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from elevator where elevator_code = #{elevatorCode,jdbcType=VARCHAR}
     where 1=1
    <if test="searchKey != null and searchKey != ''">
      and 1=1
    </if>
    <if test="startTime != null">
      and created_time &gt;= #{startTime,jdbcType=BIGINT}
    </if>
    <if test="endTime != null">
      and created_time &lt;= #{endTime,jdbcType=BIGINT}
    </if>
    order by last_modified_time desc
  </select>
    <select id="selectEleStatus" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from elevator where ele_status = #{eleCode}
    </select>
    <update id="updateElevatorInfo">
        update elevator
        <set>
            <if test="elevatorName != null and elevatorName != ''">
                elevator_name = #{elevatorName,jdbcType=VARCHAR},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="eleStatus != null and eleStatus != ''">
                ele_status = #{eleStatus,jdbcType=VARCHAR},
            </if>
            <if test="statusUpdateTime != null">
                status_update_time = #{statusUpdateTime,jdbcType=BIGINT},
            </if>
            <if test="eleIp != null and eleIp != ''">
                ele_ip = #{eleIp,jdbcType=VARCHAR},
            </if>
            <if test="eleTaskStatus != null and eleTaskStatus != ''">
                ele_task_status = #{eleTaskStatus,jdbcType=VARCHAR},
            </if>
            <if test="mainTaskNum != null and mainTaskNum != ''">
                main_task_num = #{mainTaskNum,jdbcType=VARCHAR},
            </if>
            <if test="eleTaskCode != null and eleTaskCode != ''">
                ele_task_code = #{eleTaskCode,jdbcType=VARCHAR},
            </if>
            <if test="eleTaskUpdateTime != null">
                ele_task_update_time = #{eleTaskUpdateTime,jdbcType=BIGINT},
            </if>
            <if test="version != null and version != ''">
                version = #{version,jdbcType=INTEGER},
            </if>
            <if test="currentFloor != null and currentFloor != ''">
                current_floor = #{currentFloor,jdbcType=INTEGER},
            </if>
            <if test="floorUpdateTime != null">
                floor_update_time = #{floorUpdateTime,jdbcType=BIGINT},
            </if>
        </set>
        where elevator_code = #{elevatorCode}
    </update>
</mapper>